Skeletal Inventory <strong>[[singleValueFromSelect "SELECT ?label WHERE {?? rdfs:label ?label.}"]]</strong>  created on <strong>[[singleValueFromSelect "PREFIX dc: <http://purl.org/dc#> SELECT ?date WHERE {?? dc:date ?date.}"]]</strong>


<h4> Create New Observer/Editing Event</h4>



[[>:PBP_Patho_AddResearchProcessPatho_Template research_process_type="<http://w3id.org/rdfbones/ext/phaleron-patho/ResearchContributionProcess>" paleopath_observation_type="<http://w3id.org/rdfbones/core#SkeletalInventoryProcess>"]]
