
            <!-- Metacarpal 1 Left Form --> 
            
            <semantic-form
              id='LeftMetacarpal1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetacarpal1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal1leftcomp" MyID_Obs="metacarpal1leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24465>" ]]                                    
              ]'
            >
            <h2><strong>Left Metacarpal 1</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal1leftcomp" MyID_Obs="metacarpal1leftobs" WHERE=""]]               
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metacarpal 1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetacarpal1-update" ufbTemplate="LeftMetacarpal1-Template" ufbname="Left Metacarpal 1"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftMetacarpal1" event-target="show-after-LeftMetacarpal1-update"]]  

            <hr>

            <!-- Metacarpal 2 Left Form --> 
            
            <semantic-form
              id='LeftMetacarpal2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetacarpal2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal2leftcomp" MyID_Obs="metacarpal2leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24467>" ]]                                     
              ]'
            >
            <h2><strong>Left Metacarpal 2</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal2leftcomp" MyID_Obs="metacarpal2leftobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metacarpal 2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetacarpal2-update" ufbTemplate="LeftMetacarpal2-Template" ufbname="Left Metacarpal 2"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftMetacarpal2" event-target="show-after-LeftMetacarpal2-update"]]  

            <hr>

            <!-- Metacarpal 3 Left Form --> 
            
            <semantic-form
              id='LeftMetacarpal3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetacarpal3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal3leftcomp" MyID_Obs="metacarpal3leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24469>" ]]                                                  
              ]'
            >
            <h2><strong>Left Metacarpal 3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal3leftcomp" MyID_Obs="metacarpal3leftobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metacarpal 3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetacarpal3-update" ufbTemplate="LeftMetacarpal3-Template" ufbname="Left Metacarpal 3"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftMetacarpal3" event-target="show-after-LeftMetacarpal3-update"]]  

            <hr>

            <!-- Metacarpal 4 Left Form --> 
            
            <semantic-form
              id='LeftMetacarpal4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetacarpal4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal4leftcomp" MyID_Obs="metacarpal4leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24471>" ]]                                                    
              ]'
            >
            <h2><strong>Left Metacarpal 4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal4leftcomp" MyID_Obs="metacarpal4leftobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metacarpal 4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetacarpal4-update" ufbTemplate="LeftMetacarpal4-Template" ufbname="Left Metacarpal 4"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftMetacarpal4" event-target="show-after-LeftMetacarpal4-update"]]  

            <hr>

            <!-- Metacarpal 5 Left Form --> 
            
            <semantic-form
              id='LeftMetacarpal5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetacarpal5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal5leftcomp" MyID_Obs="metacarpal5leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24473>" ]]                                                  
              ]'
            >
            <h2><strong>Left Metacarpal 5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal5leftcomp" MyID_Obs="metacarpal5leftobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metacarpal 5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetacarpal5-update" ufbTemplate="LeftMetacarpal5-Template" ufbname="Left Metacarpal 5"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftMetacarpal5" event-target="show-after-LeftMetacarpal5-update"]]  

<hr>
            <!-- Metacarpal 1 Right Form --> 
            
            <semantic-form
              id='RightMetacarpal1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetacarpal1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal1rightcomp" MyID_Obs="metacarpal1rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24464>" ]]                               
              ]'
            >
            <h2><strong>Right Metacarpal 1</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal1rightcomp" MyID_Obs="metacarpal1rightobs" WHERE=""]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metacarpal 1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetacarpal1-update" ufbTemplate="RightMetacarpal1-Template" ufbname="Right Metacarpal 1"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightMetacarpal1" event-target="show-after-RightMetacarpal1-update"]]  

            <hr>

            <!-- Metacarpal 2 Form --> 
            
            <semantic-form
              id='RightMetacarpal2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetacarpal2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal2rightcomp" MyID_Obs="metacarpal2rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24466>" ]]                                        
              ]'
            >
            <h2><strong>Right Metacarpal 2</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">           
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal2rightcomp" MyID_Obs="metacarpal2rightobs" WHERE=""]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metacarpal 2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetacarpal2-update" ufbTemplate="RightMetacarpal2-Template" ufbname="Right Metacarpal 2"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightMetacarpal2" event-target="show-after-RightMetacarpal2-update"]]  

            <hr>

            <!-- Metacarpal 3 Form --> 
            
            <semantic-form
              id='RightMetacarpal3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetacarpal3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal3rightcomp" MyID_Obs="metacarpal3rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24468>" ]]                                     
              ]'
            >
            <h2><strong>Right Metacarpal 3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">           
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal3rightcomp" MyID_Obs="metacarpal3rightobs" WHERE=""]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metacarpal 3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetacarpal3-update" ufbTemplate="RightMetacarpal3-Template" ufbname="Right Metacarpal 3"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightMetacarpal3" event-target="show-after-RightMetacarpal3-update"]]  

            <hr>

            <!-- Metacarpal 4 Form --> 
            
            <semantic-form
              id='RightMetacarpal4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetacarpal4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal4rightcomp" MyID_Obs="metacarpal4rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24470>" ]]                                     
              ]'
            >
            <h2><strong>Right Metacarpal 4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">             
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal4rightcomp" MyID_Obs="metacarpal4rightobs" WHERE=""]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metacarpal 4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetacarpal4-update" ufbTemplate="RightMetacarpal4-Template" ufbname="Right Metacarpal 4"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightMetacarpal4" event-target="show-after-RightMetacarpal4-update"]]  

            <hr>

            <!-- Metacarpal 5 Form --> 
            
            <semantic-form
              id='RightMetacarpal5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetacarpal5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metacarpal5rightcomp" MyID_Obs="metacarpal5rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24472>" ]]                                
              ]'
            >
            <h2><strong>Right Metacarpal 5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">            
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metacarpal5rightcomp" MyID_Obs="metacarpal5rightobs" WHERE=""]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metacarpal 5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetacarpal5-update" ufbTemplate="RightMetacarpal5-Template" ufbname="Right Metacarpal 5"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightMetacarpal5" event-target="show-after-RightMetacarpal5-update"]]  

            <hr>

            <!-- Metacarpals grouped Form --> 

<semantic-form
 id='MetacarpalsGrouped'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='MetacarpalsGrouped'
 persistence='sparql'
 fields='[
   [[>:PSI_SI_MD_FormSnippet MyID="metacarpalsgroupedleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireLeftMetacarpalBone>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
  [[>:PSI_SI_MD_FormSnippet MyID="metacarpalsgroupedright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireRightMetacarpalBone>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
  [[>:PSI_SI_MD_FormSnippet MyID="metacarpalsgroupedunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma9612>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
    ]' 
>
<h2><strong>Metacarpals, grouped</strong></h2>
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                
                 <div class="grid-demo">
                     <semantic-form-text-input for='metacarpalsgroupedleft'></semantic-form-text-input>
                     <semantic-form-text-input for='metacarpalsgroupedright'></semantic-form-text-input>
                     <semantic-form-text-input for='metacarpalsgroupedunsided'></semantic-form-text-input>
                     <button name="submit" class="btn btn-primary"><strong>Save Metacarpals, grouped</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-MetacarpalsGrouped-update" ufbTemplate="MetacarpalsGrouped-Template" ufbname="Metacarpals Grouped"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:PSI_FormSuccessFeedbackEventSnippet event-source="MetacarpalsGrouped" event-target="show-after-MetacarpalsGrouped-update"]]  