<h2><strong>Left Parts of Vertebral Column</strong></h2>

<hr>

<h3>Cervical Vertebrae</h3>

<hr>

           <!-- Left Atlas Form -->

            <semantic-form
              id='LeftAtlas'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftAtlas'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="leftc1comp" MyID_Obs="leftc1obs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfPosteriorArchOfC1>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="leftc1comp" MyID_Obs="leftc1obs" WHERE="Atlas: Left half of posterior arch"]]
                     <div class="grid-demo">
                    <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of Atlas</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftAtlas-update" ufbTemplate="LeftAtlas-Template" ufbname="LeftAtlas"]]
                   </div>
                </div>
                </semantic-form>
               [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftAtlas" event-target="show-after-LeftAtlas-update"]]

            <hr>

            <!-- Left Axis Form -->

            <semantic-form
              id='LeftAxis'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftAxis'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="axisleftcomp" MyID_Obs="axisleftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC2>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="axisleftcomp" MyID_Obs="axisleftobs" WHERE="Axis: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of Axis</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftAxis-update" ufbTemplate="LeftAxis-Template" ufbname="LeftAxis"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftAxis" event-target="show-after-LeftAxis-update"]]

            <hr>

            <!-- Left C3 Form -->

            <semantic-form
              id='LeftC3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftC3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c3leftcomp" MyID_Obs="c3leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC3>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c3leftcomp" MyID_Obs="c3leftobs" WHERE="C3: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of C3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftC3-update" ufbTemplate="LeftC3-Template" ufbname="LeftC3"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftC3" event-target="show-after-LeftC3-update"]]

            <hr>

            <!-- Left C4 Form -->

            <semantic-form
              id='LeftC4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftC4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c4leftcomp" MyID_Obs="c4leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC4>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c4leftcomp" MyID_Obs="c4leftobs" WHERE="C4: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of C4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftC4-update" ufbTemplate="LeftC4-Template" ufbname="LeftC4"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftC4" event-target="show-after-LeftC4-update"]]

            <hr>

            <!-- Left C5 Form -->

            <semantic-form
              id='LeftC5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftC5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c5leftcomp" MyID_Obs="c5leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC5>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c5leftcomp" MyID_Obs="c5leftobs" WHERE="C5: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of C5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftC5-update" ufbTemplate="LeftC5-Template" ufbname="LeftC5"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftC5" event-target="show-after-LeftC5-update"]]

            <hr>

            <!-- Left C6 Form -->

            <semantic-form
              id='LeftC6'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftC6'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c6leftcomp" MyID_Obs="c6leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC6>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c6leftcomp" MyID_Obs="c6leftobs" WHERE="C6: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of C6</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftC6-update" ufbTemplate="LeftC6-Template" ufbname="LeftC6"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftC6" event-target="show-after-LeftC6-update"]]

            <hr>

            <!-- Left C7 Form -->

<semantic-form
  id='LeftC7'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftC7'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c7leftcomp" MyID_Obs="c7leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC7>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c7leftcomp" MyID_Obs="c7leftobs" WHERE="C7: Left half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of C7</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftC7-update" ufbTemplate="LeftC7-Template" ufbname="LeftC7"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftC7" event-target="show-after-LeftC7-update"]]

<hr>

<h3>Thoracic Vertebrae</h3>

<hr>

            <!-- Left T1 Form -->

            <semantic-form
              id='LeftT1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftT1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t1leftcomp" MyID_Obs="t1leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT1>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t1leftcomp" MyID_Obs="t1leftobs" WHERE="T1: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT1-update" ufbTemplate="LeftT1-Template" ufbname="LeftT1"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT1" event-target="show-after-LeftT1-update"]]

            <hr>

            <!-- Left T2 Form -->

            <semantic-form
              id='LeftT2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftT2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t2leftcomp" MyID_Obs="t2leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT2>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t2leftcomp" MyID_Obs="t2leftobs" WHERE="T2: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT2-update" ufbTemplate="LeftT2-Template" ufbname="LeftT2"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT2" event-target="show-after-LeftT2-update"]]

            <hr>

            <!-- Left T3 Form -->

            <semantic-form
              id='LeftT3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftT3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t3leftcomp" MyID_Obs="t3leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT3>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t3leftcomp" MyID_Obs="t3leftobs" WHERE="T3: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT3-update" ufbTemplate="LeftT3-Template" ufbname="LeftT3"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT3" event-target="show-after-LeftT3-update"]]

            <hr>

            <!-- Left T4 Form -->

            <semantic-form
              id='LeftT4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftT4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t4leftcomp" MyID_Obs="t4leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT4>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t4leftcomp" MyID_Obs="t4leftobs" WHERE="T4: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT4-update" ufbTemplate="LeftT4-Template" ufbname="LeftT4"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT4" event-target="show-after-LeftT4-update"]]

            <hr>

            <!-- Left T5 Form -->

            <semantic-form
              id='LeftT5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftT5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t5leftcomp" MyID_Obs="t5leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT5>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t5leftcomp" MyID_Obs="t5leftobs" WHERE="T5: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT5-update" ufbTemplate="LeftT5-Template" ufbname="LeftT5"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT5" event-target="show-after-LeftT5-update"]]

            <hr>

            <!-- Left T6 Form -->

<semantic-form
  id='LeftT6'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftT6'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t6leftcomp" MyID_Obs="t6leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT6>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t6leftcomp" MyID_Obs="t6leftobs" WHERE="T6: Left half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T6</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT6-update" ufbTemplate="LeftT6-Template" ufbname="LeftT6"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT6" event-target="show-after-LeftT6-update"]]

<hr>

<!-- Left T7 Form -->

<semantic-form
  id='LeftT7'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftT7'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t7leftcomp" MyID_Obs="t7leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT7>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t7leftcomp" MyID_Obs="t7leftobs" WHERE="T7: Left half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T7</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT7-update" ufbTemplate="LeftT7-Template" ufbname="LeftT7"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT7" event-target="show-after-LeftT7-update"]]

<hr>

<!-- Left T8 Form -->

<semantic-form
  id='LeftT8'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftT8'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t8leftcomp" MyID_Obs="t8leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT8>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t8leftcomp" MyID_Obs="t8leftobs" WHERE="T8: Left half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T8</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT8-update" ufbTemplate="LeftT8-Template" ufbname="LeftT8"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT8" event-target="show-after-LeftT8-update"]]

<hr>

<!-- Left T9 Form -->

<semantic-form
  id='LeftT9'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftT9'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t9leftcomp" MyID_Obs="t9leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT9>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t9leftcomp" MyID_Obs="t9leftobs" WHERE="T9: Left half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T9</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT9-update" ufbTemplate="LeftT9-Template" ufbname="LeftT9"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT9" event-target="show-after-LeftT9-update"]]

<hr>

<!-- Left T10 Form -->

<semantic-form
  id='LeftT10'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftT10'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t10leftcomp" MyID_Obs="t10leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT10>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t10leftcomp" MyID_Obs="t10leftobs" WHERE="T10: Left half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T10</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT10-update" ufbTemplate="LeftT10-Template" ufbname="LeftT10"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT10" event-target="show-after-LeftT10-update"]]

<hr>

<!-- Left T11 Form -->

<semantic-form
  id='LeftT11'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftT11'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t11leftcomp" MyID_Obs="t11leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT11>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t11leftcomp" MyID_Obs="t11leftobs" WHERE="T11: Left half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T11</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT11-update" ufbTemplate="LeftT11-Template" ufbname="LeftT11"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT11" event-target="show-after-LeftT11-update"]]

<hr>

<!-- Left T12 Form -->

<semantic-form
id='LeftT12'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='LeftT12'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t12leftcomp" MyID_Obs="t12leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT12>" ]]
]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t12leftcomp" MyID_Obs="t12leftobs" WHERE="T12: Left half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T12</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT12-update" ufbTemplate="LeftT12-Template" ufbname="LeftT12"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT12" event-target="show-after-LeftT12-update"]]

<hr>

<!-- Left T13 Form -->

<semantic-form
id='LeftT13'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='LeftT13'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t13leftcomp" MyID_Obs="t13leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT13>" ]]
]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t13leftcomp" MyID_Obs="t13leftobs" WHERE="T13: Left half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save left neural Arch of T13</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftT13-update" ufbTemplate="LeftT13-Template" ufbname="LeftT13"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftT13" event-target="show-after-LeftT13-update"]]

<hr>

<h3>Lumbar Vertebrae</h3>

<hr>

            <!-- Left L1 Form -->

            <semantic-form
              id='LeftL1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftL1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l1leftcomp" MyID_Obs="l1leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL1>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l1leftcomp" MyID_Obs="l1leftobs" WHERE="L1: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of L1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftL1-update" ufbTemplate="LeftL1-Template" ufbname="LeftL1"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftL1" event-target="show-after-LeftL1-update"]]

            <hr>

            <!-- Left L2 Form -->

            <semantic-form
              id='LeftL2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftL2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l2leftcomp" MyID_Obs="l2leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL2>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l2leftcomp" MyID_Obs="l2leftobs" WHERE="L2: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of L2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftL2-update" ufbTemplate="LeftL2-Template" ufbname="LeftL2"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftL2" event-target="show-after-LeftL2-update"]]

            <hr>

            <!-- Left L3 Form -->

            <semantic-form
              id='LeftL3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftL3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l3leftcomp" MyID_Obs="l3leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL3>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l3leftcomp" MyID_Obs="l3leftobs" WHERE="L3: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of L3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftL3-update" ufbTemplate="LeftL3-Template" ufbname="LeftL3"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftL3" event-target="show-after-LeftL3-update"]]

            <hr>

            <!-- Left L4 Form -->

            <semantic-form
              id='LeftL4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftL4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l4leftcomp" MyID_Obs="l4leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL4>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l4leftcomp" MyID_Obs="l4leftobs" WHERE="L4: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of L4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftL4-update" ufbTemplate="LeftL4-Template" ufbname="LeftL4"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftL4" event-target="show-after-LeftL4-update"]]

            <hr>

            <!-- Left L5 Form -->

            <semantic-form
              id='LeftL5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftL5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l5leftcomp" MyID_Obs="l5leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL5>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l5leftcomp" MyID_Obs="l5leftobs" WHERE="L5: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of L5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftL5-update" ufbTemplate="LeftL5-Template" ufbname="LeftL5"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftL5" event-target="show-after-LeftL5-update"]]


<hr>

<!-- Left L6 Form -->

            <semantic-form
              id='LeftL6'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftL6'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l6leftcomp" MyID_Obs="l6leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL6>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l6leftcomp" MyID_Obs="l6leftobs" WHERE="L6: Left half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left neural Arch of L6</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftL6-update" ufbTemplate="LeftL6-Template" ufbname="LeftL6"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftL6" event-target="show-after-LeftL6-update"]]

<hr>

<h3>Sacrum</h3>

<hr>

<!-- Left Sacrum Form -->

<semantic-form
  id='LeftSacrum'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftSacrum'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="sacrumleftcomp" MyID_Obs="sacrumleftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftLateralMassOfSacrum>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="sacrumleftcomp" MyID_Obs="sacrumleftobs" WHERE="Left lateral mass of sacrum"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save left lateral Mass of Sacrum</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftSacrum-update" ufbTemplate="LeftSacrum-Template" ufbname="LeftSacrum"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftSacrum" event-target="show-after-LeftSacrum-update"]]

<hr>
