<h2><strong>Bodies of vertebral Column</strong></h2>

<hr>

<!-- Body Atlas Form --> 
           
           <semantic-form
             id='BodyAtlas'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyAtlas'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="archc1comp" MyID_Obs="archc1obs" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/AnteriorArchOfC1>" ]]                                   
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">    
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="archc1comp" MyID_Obs="archc1obs" WHERE="Atlas: Anterior arch"]]        
                    <div class="grid-demo">
                   <button name="submit" class="btn btn-primary"><strong>Save anterior Arch of Atlas</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyAtlas-update" ufbTemplate="BodyAtlas-Template" ufbname="BodyAtlas"]] 
                  </div>
               </div>
               </semantic-form>
              [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyAtlas" event-target="show-after-BodyAtlas-update"]]  
           
           <hr>

           <!-- Body Axis Form --> 
           
           <semantic-form
             id='BodyAxis'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyAxis'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="axisbodycomp" MyID_Obs="axisbodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC2>" ]]                                 
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="axisbodycomp" MyID_Obs="axisbodyobs" WHERE="Axis: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of Axis</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyAxis-update" ufbTemplate="BodyAxis-Template" ufbname="BodyAxis"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyAxis" event-target="show-after-BodyAxis-update"]]  

           <hr>

           <!-- Body C3 Form --> 
           
           <semantic-form
             id='BodyC3'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyC3'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c3bodycomp" MyID_Obs="c3bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC3>" ]]                                     
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c3bodycomp" MyID_Obs="c3bodyobs" WHERE="C3: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of C3</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyC3-update" ufbTemplate="BodyC3-Template" ufbname="BodyC3"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyC3" event-target="show-after-BodyC3-update"]]  

           <hr>

           <!-- Body C4 Form --> 
           
           <semantic-form
             id='BodyC4'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyC4'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c4bodycomp" MyID_Obs="c4bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC4>" ]]                                       
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread"> 
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c4bodycomp" MyID_Obs="c4bodyobs" WHERE="C4: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of C4</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyC4-update" ufbTemplate="BodyC4-Template" ufbname="BodyC4"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyC4" event-target="show-after-BodyC4-update"]]  

           <hr>

           <!-- Body C5 Form --> 
           
           <semantic-form
             id='BodyC5'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyC5'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c5bodycomp" MyID_Obs="c5bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC5>" ]]                                     
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c5bodycomp" MyID_Obs="c5bodyobs" WHERE="C5: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of C5</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyC5-update" ufbTemplate="BodyC5-Template" ufbname="BodyC5"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyC5" event-target="show-after-BodyC5-update"]]  

           <hr>

           <!-- Body C6 Form --> 
           
           <semantic-form
             id='BodyC6'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyC6'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c6bodycomp" MyID_Obs="c6bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC6>" ]]                                      
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c6bodycomp" MyID_Obs="c6bodyobs" WHERE="C6: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of C6</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyC6-update" ufbTemplate="BodyC6-Template" ufbname="BodyC6"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyC6" event-target="show-after-BodyC6-update"]]  

           <hr>

           <!-- Body C7 Form --> 

<semantic-form
 id='BodyC7'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='BodyC7'
 persistence='sparql'
 fields='[
     [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c7bodycomp" MyID_Obs="c7bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC7>" ]]                                  
 ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
   <div data-flex-layout="row md-column top-spread"> 
     [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c7bodycomp" MyID_Obs="c7bodyobs" WHERE="C7: Body"]]          
    
     <div class="grid-demo">
         <button name="submit" class="btn btn-primary"><strong>Save Body of C7</strong></button>
       <button name="reset" class="btn btn-secondary">Reset</button>
       [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyC7-update" ufbTemplate="BodyC7-Template" ufbname="BodyC7"]]
     </div>
   </div>
 
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyC7" event-target="show-after-BodyC7-update"]]  

<hr>

           <!-- Body T1 Form --> 
           
           <semantic-form
             id='BodyT1'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyT1'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t1bodycomp" MyID_Obs="t1bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT1>" ]]                              
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t1bodycomp" MyID_Obs="t1bodyobs" WHERE="T1: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of T1</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT1-update" ufbTemplate="BodyT1-Template" ufbname="BodyT1"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT1" event-target="show-after-BodyT1-update"]]  

           <hr>

           <!-- Body T2 Form --> 
           
           <semantic-form
             id='BodyT2'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyT2'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t2bodycomp" MyID_Obs="t2bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT2>" ]]                                      
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t2bodycomp" MyID_Obs="t2bodyobs" WHERE="T2: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of T2</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT2-update" ufbTemplate="BodyT2-Template" ufbname="BodyT2"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT2" event-target="show-after-BodyT2-update"]]  

           <hr>

           <!-- Body T3 Form --> 
           
           <semantic-form
             id='BodyT3'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyT3'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t3bodycomp" MyID_Obs="t3bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT3>" ]]                                     
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t3bodycomp" MyID_Obs="t3bodyobs" WHERE="T3: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of T3</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT3-update" ufbTemplate="BodyT3-Template" ufbname="BodyT3"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT3" event-target="show-after-BodyT3-update"]]  

           <hr>

           <!-- Body T4 Form --> 
           
           <semantic-form
             id='BodyT4'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyT4'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t4bodycomp" MyID_Obs="t4bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT4>" ]]                               
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t4bodycomp" MyID_Obs="t4bodyobs" WHERE="T4: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of T4</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT4-update" ufbTemplate="BodyT4-Template" ufbname="BodyT4"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT4" event-target="show-after-BodyT4-update"]]  

           <hr>

           <!-- Body T5 Form --> 
           
           <semantic-form
             id='BodyT5'
             subject='[[this]]'
             post-action='event'
             browser-persistence=true
             form-id='BodyT5'
             persistence='sparql'
             fields='[
                 [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t5bodycomp" MyID_Obs="t5bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT5>" ]]                                      
             ]'
           >
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t5bodycomp" MyID_Obs="t5bodyobs" WHERE="T5: Body"]]          
                
                 <div class="grid-demo">
                     <button name="submit" class="btn btn-primary"><strong>Save Body of T5</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT5-update" ufbTemplate="BodyT5-Template" ufbname="BodyT5"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT5" event-target="show-after-BodyT5-update"]]  

           <hr>

           <!-- Body T6 Form --> 

<semantic-form
 id='BodyT6'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='BodyT6'
 persistence='sparql'
 fields='[
     [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t6bodycomp" MyID_Obs="t6bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT6>" ]]                                    
 ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
   <div data-flex-layout="row md-column top-spread">
     [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t6bodycomp" MyID_Obs="t6bodyobs" WHERE="T6: Body"]]          
    
     <div class="grid-demo">
         <button name="submit" class="btn btn-primary"><strong>Save Body of T6</strong></button>
       <button name="reset" class="btn btn-secondary">Reset</button>
       [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT6-update" ufbTemplate="BodyT6-Template" ufbname="BodyT6"]]
     </div>
   </div>
 
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT6" event-target="show-after-BodyT6-update"]]  

<hr>

<!-- Body T7 Form --> 

<semantic-form
 id='BodyT7'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='BodyT7'
 persistence='sparql'
 fields='[
     [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t7bodycomp" MyID_Obs="t7bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT7>" ]]                                       
 ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
   <div data-flex-layout="row md-column top-spread">
     [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t7bodycomp" MyID_Obs="t7bodyobs" WHERE="T7: Body"]]          
    
     <div class="grid-demo">
         <button name="submit" class="btn btn-primary"><strong>Save Body of T7</strong></button>
       <button name="reset" class="btn btn-secondary">Reset</button>
       [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT7-update" ufbTemplate="BodyT7-Template" ufbname="BodyT7"]]
     </div>
   </div>
 
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT7" event-target="show-after-BodyT7-update"]]  

<hr>

<!-- Body T8 Form --> 

<semantic-form
 id='BodyT8'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='BodyT8'
 persistence='sparql'
 fields='[
     [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t8bodycomp" MyID_Obs="t8bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT8>" ]]                                     
 ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
   <div data-flex-layout="row md-column top-spread">
     [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t8bodycomp" MyID_Obs="t8bodyobs" WHERE="T8: Body"]]          
    
     <div class="grid-demo">
         <button name="submit" class="btn btn-primary"><strong>Save Body of T8</strong></button>
       <button name="reset" class="btn btn-secondary">Reset</button>
       [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT8-update" ufbTemplate="BodyT8-Template" ufbname="BodyT8"]]
     </div>
   </div>
 
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT8" event-target="show-after-BodyT8-update"]]  

<hr>

<!-- Body T9 Form --> 

<semantic-form
 id='BodyT9'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='BodyT9'
 persistence='sparql'
 fields='[
     [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t9bodycomp" MyID_Obs="t9bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT9>" ]]                                     
 ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
   <div data-flex-layout="row md-column top-spread">
     [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t9bodycomp" MyID_Obs="t9bodyobs" WHERE="T9: Body"]]          
    
     <div class="grid-demo">
         <button name="submit" class="btn btn-primary"><strong>Save Body of T9</strong></button>
       <button name="reset" class="btn btn-secondary">Reset</button>
       [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT9-update" ufbTemplate="BodyT9-Template" ufbname="BodyT9"]]
     </div>
   </div>
 
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT9" event-target="show-after-BodyT9-update"]]  

<hr>

<!-- Body T10 Form --> 

<semantic-form
 id='BodyT10'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='BodyT10'
 persistence='sparql'
 fields='[
     [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t10bodycomp" MyID_Obs="t10bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT10>" ]]                                     
 ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
   <div data-flex-layout="row md-column top-spread">
     [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t10bodycomp" MyID_Obs="t10bodyobs" WHERE="T:10 Body"]]          
    
     <div class="grid-demo">
         <button name="submit" class="btn btn-primary"><strong>Save Body of T10</strong></button>
       <button name="reset" class="btn btn-secondary">Reset</button>
       [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT10-update" ufbTemplate="BodyT10-Template" ufbname="BodyT10"]]
     </div>
   </div>
 
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT10" event-target="show-after-BodyT10-update"]]  

<hr>

<!-- Body T11 Form --> 

<semantic-form
 id='BodyT11'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='BodyT11'
 persistence='sparql'
 fields='[
     [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t11bodycomp" MyID_Obs="t11bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT11>" ]]                                      
 ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
   <div data-flex-layout="row md-column top-spread">
     [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t11bodycomp" MyID_Obs="t11bodyobs" WHERE="T11: Body"]]          
    
     <div class="grid-demo">
         <button name="submit" class="btn btn-primary"><strong>Save Body of T11</strong></button>
       <button name="reset" class="btn btn-secondary">Reset</button>
       [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT11-update" ufbTemplate="BodyT11-Template" ufbname="BodyT11"]]
     </div>
   </div>
 
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT11" event-target="show-after-BodyT11-update"]]  

<hr>

<!-- Body T12 Form --> 

<semantic-form
id='BodyT12'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='BodyT12'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t12bodycomp" MyID_Obs="t12bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT12>" ]]                                      
]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread"> 
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t12bodycomp" MyID_Obs="t12bodyobs" WHERE="T12: Body"]]          

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save Body of T12</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT12-update" ufbTemplate="BodyT12-Template" ufbname="BodyT12"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT12" event-target="show-after-BodyT12-update"]]  

<hr>

<!-- Body T13 Form --> 

<semantic-form
id='BodyT13'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='BodyT13'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t13bodycomp" MyID_Obs="t13bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT13>" ]]                                      
]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t13bodycomp" MyID_Obs="t13bodyobs" WHERE="T13: Body"]]          

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save Body of T13</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyT13-update" ufbTemplate="BodyT13-Template" ufbname="BodyT13"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyT13" event-target="show-after-BodyT13-update"]]  

<hr>
                      <!-- Body L1 Form --> 
                      
                      <semantic-form
                        id='BodyL1'
                        subject='[[this]]'
                        post-action='event'
                        browser-persistence=true
                        form-id='BodyL1'
                        persistence='sparql'
                        fields='[
                            [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l1bodycomp" MyID_Obs="l1bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL1>" ]]                                     
                        ]'
                      >
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread">
                            [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l1bodycomp" MyID_Obs="l1bodyobs" WHERE="L1: Body"]]          
                           
                            <div class="grid-demo">
                                <button name="submit" class="btn btn-primary"><strong>Save Body of L1</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyL1-update" ufbTemplate="BodyL1-Template" ufbname="BodyL1"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyL1" event-target="show-after-BodyL1-update"]]  

                      <hr>

                      <!-- Body L2 Form --> 
                      
                      <semantic-form
                        id='BodyL2'
                        subject='[[this]]'
                        post-action='event'
                        browser-persistence=true
                        form-id='BodyL2'
                        persistence='sparql'
                        fields='[
                            [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l2bodycomp" MyID_Obs="l2bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL2>" ]]                                      
                        ]'
                      >
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread">
                            [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l2bodycomp" MyID_Obs="l2bodyobs" WHERE="L2: Body"]]          
                           
                            <div class="grid-demo">
                                <button name="submit" class="btn btn-primary"><strong>Save Body of L2</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyL2-update" ufbTemplate="BodyL2-Template" ufbname="BodyL2"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyL2" event-target="show-after-BodyL2-update"]]  

                      <hr>

                      <!-- Body L3 Form --> 
                      
                      <semantic-form
                        id='BodyL3'
                        subject='[[this]]'
                        post-action='event'
                        browser-persistence=true
                        form-id='BodyL3'
                        persistence='sparql'
                        fields='[
                            [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l3bodycomp" MyID_Obs="l3bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL3>" ]]                               
                        ]'
                      >
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread">
                            [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l3bodycomp" MyID_Obs="l3bodyobs" WHERE="L3: Body"]]          
                           
                            <div class="grid-demo">
                                <button name="submit" class="btn btn-primary"><strong>Save Body of L3</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyL3-update" ufbTemplate="BodyL3-Template" ufbname="BodyL3"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyL3" event-target="show-after-BodyL3-update"]]  

                      <hr>

                      <!-- Body L4 Form --> 
                      
                      <semantic-form
                        id='BodyL4'
                        subject='[[this]]'
                        post-action='event'
                        browser-persistence=true
                        form-id='BodyL4'
                        persistence='sparql'
                        fields='[
                            [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l4bodycomp" MyID_Obs="l4bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL4>" ]]                                       
                        ]'
                      >
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread">
                            [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l4bodycomp" MyID_Obs="l4bodyobs" WHERE="L4: Body"]]          
                           
                            <div class="grid-demo">
                                <button name="submit" class="btn btn-primary"><strong>Save Body of L4</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyL4-update" ufbTemplate="BodyL4-Template" ufbname="BodyL4"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyL4" event-target="show-after-BodyL4-update"]]  

                      <hr>

                      <!-- Body L5 Form --> 
                      
                      <semantic-form
                        id='BodyL5'
                        subject='[[this]]'
                        post-action='event'
                        browser-persistence=true
                        form-id='BodyL5'
                        persistence='sparql'
                        fields='[
                            [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l5bodycomp" MyID_Obs="l5bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL5>" ]]                                 
                        ]'
                      >
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread">
                            [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l5bodycomp" MyID_Obs="l5bodyobs" WHERE="L5: Body"]]          
                           
                            <div class="grid-demo">
                                <button name="submit" class="btn btn-primary"><strong>Save Body of L5</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyL5-update" ufbTemplate="BodyL5-Template" ufbname="BodyL5"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyL5" event-target="show-after-BodyL5-update"]]  


          <hr>

          <!-- Body L6 Form --> 
                      
                      <semantic-form
                        id='BodyL6'
                        subject='[[this]]'
                        post-action='event'
                        browser-persistence=true
                        form-id='BodyL6'
                        persistence='sparql'
                        fields='[
                            [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l6bodycomp" MyID_Obs="l6bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL6>" ]]                                   
                        ]'
                      >
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread">
                            [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l6bodycomp" MyID_Obs="l6bodyobs" WHERE="L6: Body"]]          
                           
                            <div class="grid-demo">
                                <button name="submit" class="btn btn-primary"><strong>Save Body of L6</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodyL6-update" ufbTemplate="BodyL6-Template" ufbname="BodyL6"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodyL6" event-target="show-after-BodyL6-update"]]  


          <hr>

                      <!-- Body Sacrum Form --> 
                      
                      <semantic-form
                        id='BodySacrum'
                        subject='[[this]]'
                        post-action='event'
                        browser-persistence=true
                        form-id='BodySacrum'
                        persistence='sparql'
                        fields='[
                            [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="sacrumbodycomp" MyID_Obs="sacrumbodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfSacrum>" ]]                                        
                        ]'
                      >
                      <h2><strong>Sacrum</strong></h2>
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread"> 
                            [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="sacrumbodycomp" MyID_Obs="sacrumbodyobs" WHERE="Body of sacrum"]]          
                           
                            <div class="grid-demo">
                                <button name="submit" class="btn btn-primary"><strong>Save Body of Sacrum</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-BodySacrum-update" ufbTemplate="BodySacrum-Template" ufbname="BodySacrum"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="BodySacrum" event-target="show-after-BodySacrum-update"]]  

          <hr>

