<h2><strong>Deciduous Mandibular Dentition</strong></h2>
<hr>
<!-- Right Mandibular Arcade Form -->
<mp-event-target-refresh id="RightDecMandibularArcade">

            <semantic-form
              id = 'RightDecMandibularArcade'
              subject='{{page-resource}}'
              post-action='event'
              browser-persistence=true
              form-id='RightDecMandibularArcade'
              persistence='sparql'
              fields='[
        {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneM2" label="Presence Alveolar Bone M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317394>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneM1" label="Presence Alveolar Bone M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317392>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
        },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneC" label="Presence Alveolar Bone C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317386>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneI2" label="Presence Alveolar Bone I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317384>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneI1" label="Presence Alveolar Bone I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317382>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },

        {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothM2" label="Presence M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothM1" label="Presence M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothC" label="Presence C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothI2" label="Presence I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothI1" label="Presence I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

        {
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothM2" label="Development M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84244>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothM1" label="Development M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84242>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothC" label="Development C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84232>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothI2" label="Development I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84226>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothI1" label="Development I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84224>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	     {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothM2" label="Eruption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothM1" label="Eruption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothC" label="Eruption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothI2" label="Eruption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothI1" label="Eruption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothM2" label="Wear M2" xsdDatatype="xsd:integer" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetConstraint ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84244>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ConnectValue="obo:OBI_0001937" minVal="0" maxVal="40"  ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothM1" label="Wear M1" xsdDatatype="xsd:integer" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetConstraint ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84242>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ConnectValue="obo:OBI_0001937" minVal="0" maxVal="40" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothC" label="Wear C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84232>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothI2" label="Wear I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84226>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothI1" label="Wear I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84224>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
              }

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Right Mandibular Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothM2'></semantic-form-select-input>
		  <semantic-form-text-input for='RightWearToothM2'></semantic-form-text-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightEruptionToothM1'></semantic-form-select-input>
		   <semantic-form-text-input for='RightWearToothM1'></semantic-form-text-input>
		</div>
	      </div><br>

	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothC'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothC'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothI2'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothI2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothI1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothI1'></semantic-form-select-input>
		</div>
	      </div>
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Right Mandibular Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-right-MandibularArcade-update" ufbTemplate="rightMax-Template" ufbname="Right Mandibular Arcade"]]
            </semantic-form>
           </mp-event-target-refresh>
           <mp-event-proxy on-event-type="Form.ResourceUpdated" on-event-source="RightDecMandibularArcade" proxy-event-type="Component.Refresh" proxy-targets='["RightDecMandibularArcade"]'></mp-event-proxy>
	   <mp-event-proxy on-event-type="Form.ResourceCreated" on-event-source="RightDecMandibularArcade" proxy-event-type="Component.Refresh" proxy-targets='["RightDecMandibularArcade"]'></mp-event-proxy>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightDecMandibularArcade" event-target="show-after-right-MandibularArcade-update"]]

<hr>
<!-- Left Mandibular Arcade Form -->
<mp-event-target-refresh id="LeftDecMandibularArcade">

            <semantic-form
              id = 'LeftDecMandibularArcade'
              subject='{{page-resource}}'
              post-action='event'
              browser-persistence=true
              form-id='LeftDecMandibularArcade'
              persistence='sparql'
              fields='[
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneM2" label="Presence Alveolar Bone M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317410>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneM1" label="Presence Alveolar Bone M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317408>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
              },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneC" label="Presence Alveolar Bone C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317402>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneI2" label="Presence Alveolar Bone I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317400>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneI1" label="Presence Alveolar Bone I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317398>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothM2" label="Presence M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothM1" label="Presence M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothC" label="Presence C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothI2" label="Presence I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothI1" label="Presence I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothM2" label="Development M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84245>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothM1" label="Development M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84243>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothC" label="Development C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84233>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothI2" label="Development I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84227>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothI1" label="Development I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84225>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothM2" label="Eruption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothM1" label="Eruption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothC" label="Eruption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothI2" label="Eruption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothI1" label="Eruption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothM2" label="Wear M2" xsdDatatype="xsd:integer" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetConstraint ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84245>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0001937" minVal="0" maxVal="40" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothM1" label="Wear M1" xsdDatatype="xsd:integer" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetConstraint ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84243>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0001937" minVal="0" maxVal="40" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothC" label="Wear C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84233>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothI2" label="Wear I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84227>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothI1" label="Wear I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84225>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
              }

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Left Mandibular Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">

		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothM2'></semantic-form-select-input>
		  <semantic-form-text-input for='LeftWearToothM2'></semantic-form-text-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftEruptionToothM1'></semantic-form-select-input>
		   <semantic-form-text-input for='LeftWearToothM1'></semantic-form-text-input>
		</div>
	      </div><br>


	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothC'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothC'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothI2'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothI2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothI1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothI1'></semantic-form-select-input>
		</div>
	      </div>
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Left Mandibular Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Left-MandibularArcade-update" ufbTemplate="LeftMax-Template" ufbname="Left Mandibular Arcade"]]
            </semantic-form>
	     </mp-event-target-refresh>
           <mp-event-proxy on-event-type="Form.ResourceUpdated" on-event-source="LeftDecMandibularArcade" proxy-event-type="Component.Refresh" proxy-targets='["LeftDecMandibularArcade"]'></mp-event-proxy>
	   <mp-event-proxy on-event-type="Form.ResourceCreated" on-event-source="LeftDecMandibularArcade" proxy-event-type="Component.Refresh" proxy-targets='["LeftDecMandibularArcade"]'></mp-event-proxy>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftDecMandibularArcade" event-target="show-after-Left-MandibularArcade-update"]]
            <hr>
