<h2><strong>Grouped Elements</strong></h2>

<hr>

 <!-- Cervical grouped Form --> 

<semantic-form
  id='CG'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='CG'
  persistence='sparql'
  fields='[
    [[>:PSI_SI_MD_FormSnippet MyID="cgleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftPartOfCervicalVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
    [[>:PSI_SI_MD_FormSnippet MyID="cgbody" MyLabel="Number of body fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireBodyOfCervicalVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]  
,
   [[>:PSI_SI_MD_FormSnippet MyID="cgright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightPartOfCervicalVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
   [[>:PSI_SI_MD_FormSnippet MyID="cgunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma9915>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
     ]' 
>
<h2><strong>Cervical Vertebrae, grouped</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 
                  <div class="grid-demo">
                      <semantic-form-text-input for='cgleft'></semantic-form-text-input>
                      <semantic-form-text-input for='cgbody'></semantic-form-text-input>
                      <semantic-form-text-input for='cgright'></semantic-form-text-input>
                      <semantic-form-text-input for='cgunsided'></semantic-form-text-input>
                      <button name="submit" class="btn btn-primary"><strong>Save Cervical Vertebrae, grouped</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-CG-update" ufbTemplate="CG-Template" ufbname="CG"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="CG" event-target="show-after-CG-update"]]  

            <hr>

<!-- Thoracic grouped Form --> 

<semantic-form
 id='TG'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='TG'
 persistence='sparql'
 fields='[
   [[>:PSI_SI_MD_FormSnippet MyID="tgleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftPartOfThoracicVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
   [[>:PSI_SI_MD_FormSnippet MyID="tgbody" MyLabel="Number of body fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireBodyOfThoracicVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]  
,
  [[>:PSI_SI_MD_FormSnippet MyID="tgright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightPartOfThoracicVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
  [[>:PSI_SI_MD_FormSnippet MyID="tgunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma9139>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
]' 
>
<h2><strong>Thoracic Vertebrae, grouped</strong></h2>
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                
                 <div class="grid-demo">
                     <semantic-form-text-input for='tgleft'></semantic-form-text-input>
                     <semantic-form-text-input for='tgbody'></semantic-form-text-input>
                     <semantic-form-text-input for='tgright'></semantic-form-text-input>
                     <semantic-form-text-input for='tgunsided'></semantic-form-text-input>
                     <button name="submit" class="btn btn-primary"><strong>Save Thoracic Vertebrae, grouped</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-TG-update" ufbTemplate="TG-Template" ufbname="TG"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="TG" event-target="show-after-TG-update"]]  

           <hr>         
          
          <!-- Lumbar grouped Form --> 

           <semantic-form
            id='LG'
            subject='[[this]]'
            post-action='event'
            browser-persistence=true
            form-id='LG'
            persistence='sparql'
            fields='[
              [[>:PSI_SI_MD_FormSnippet MyID="lgleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftPartOfLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
           ,
              [[>:PSI_SI_MD_FormSnippet MyID="lgbody" MyLabel="Number of body fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireBodyOfLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]  
           ,
             [[>:PSI_SI_MD_FormSnippet MyID="lgright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightPartOfLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
           ,
             [[>:PSI_SI_MD_FormSnippet MyID="lgunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma9921>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
               ]' 
           >
           <h2><strong>Lumbar Vertebrae, grouped</strong></h2>
                      <semantic-form-recover-notification></semantic-form-recover-notification>
                          <div data-flex-layout="row md-column top-spread">
                           
                            <div class="grid-demo">
                                <semantic-form-text-input for='lgleft'></semantic-form-text-input>
                                <semantic-form-text-input for='lgbody'></semantic-form-text-input>
                                <semantic-form-text-input for='lgright'></semantic-form-text-input>
                                <semantic-form-text-input for='lgunsided'></semantic-form-text-input>
                                <button name="submit" class="btn btn-primary"><strong>Save Lumbar Vertebrae, grouped</strong></button>
                              <button name="reset" class="btn btn-secondary">Reset</button>
                              [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LG-update" ufbTemplate="LG-Template" ufbname="LG"]]
                            </div>
                          </div>
                        
                      </semantic-form>
                      [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LG" event-target="show-after-LG-update"]]  

                      <hr>

            <!-- Fragment Sacrum Form --> 
            
            <semantic-form
              id='SacrumFrag'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='SacrumFrag'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormSnippet MyID="sacrumfrag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/SegmentOfSacrum>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>Unsided Fragments of Sacrum</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 
                  <div class="grid-demo">
                    <semantic-form-text-input for='sacrumfrag'></semantic-form-text-input>
                      <button name="submit" class="btn btn-primary"><strong>Save unsided Fragments of Sacrum</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-SacrumFrag-update" ufbTemplate="SacrumFrag-Template" ufbname="Unsided Fragments of Sacrum"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="SacrumFrag" event-target="show-after-SacrumFrag-update"]]  

            <hr>

<!-- Units Coccyx Form --> 
            
            <semantic-form
              id='CoccyxUnits'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='CoccyxUnits'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormSnippet MyID="coccyxunits" MyLabel="Number of Units" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireSetOfSacralVertebrae>" MDClass="<http://w3id.org/rdfbones/ext/standards-si/NumberOfPresentElements>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>Number of coccygeal Units</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 
                  <div class="grid-demo">
                    <semantic-form-text-input for='coccyxunits'></semantic-form-text-input>
                      <button name="submit" class="btn btn-primary"><strong>Save Number of coccygeal Units</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-CoccyxUnits-update" ufbTemplate="CoccyxUnits-Template" ufbname="Number of coccygeal Units"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="CoccyxUnits" event-target="show-after-CoccyxUnits-update"]]

            <hr>

            <!-- spine taphonomy Form --> 

<semantic-form
  id='SpineTaph'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='SpineTaph'
  persistence='sparql'
  fields='[

[[>:PSI_SI_MD_FormTaphonomySnippet MyID_Taph="spinetaph" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireVertebralColumn>" ]]       
]' 
>
<h2><strong>Taphonomy of the entire vertebral Column</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormSingleGUISnippet MyID="spinetaph" WHERE=""]]    
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Taphonomy of the entire vertebral Column</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-SpineTaph-update" ufbTemplate="SpineTaph-Template" ufbname="SpineTaph"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="SpineTaph" event-target="show-after-SpineTaph-update"]]  

          