<!-- SWITCH EVENT -->
  <semantic-query query="PREFIX obo: <http://purl.obolibrary.org/obo/>
                    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>  
                    PREFIX phaleron-patho:<http://w3id.org/rdfbones/ext/phaleron-patho/>
                    PREFIX standards-patho:<http://w3id.org/rdfbones/ext/standards-patho/>                    
                    SELECT ?value WHERE {
                          ?? obo:BFO_0000051 ?presence .
                          ?presence a [[type]] .
                          ?presence obo:OBI_0001938 ?ValueSpec .
                          ?ValueSpec obo:OBI_0000999 $value .
                          
                    }" template="{{> t}}">
    <template id="t">
      {{#ifCond bindings.0.value.value "!=" "[[value_check]]"}}
      [[heading]]
      <semantic-form
	subject='[[this]]'
	post-action='event'
	persistence='sparql'
	id="[[form-id]]"
	form-id="additonal-info"
	browser-persistence='true'

