<h2><strong>Lumbar Vertebrae</strong></h2> 

<hr>
            <!-- L1 Form --> 
            
            <semantic-form
              id='L1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='L1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l1leftcomp" MyID_Obs="l1leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL1>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l1rightcomp" MyID_Obs="l1rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL1>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l1bodycomp" MyID_Obs="l1bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL1>" ]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="l1frag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/SegmentOfFirstLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>L1</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l1leftcomp" MyID_Obs="l1leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l1bodycomp" MyID_Obs="l1bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l1rightcomp" MyID_Obs="l1rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save L1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-L1-update" ufbTemplate="L1-Template" ufbname="L1"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="L1" event-target="show-after-L1-update"]]  

            <hr>

            <!-- L2 Form --> 
            
            <semantic-form
              id='L2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='L2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l2leftcomp" MyID_Obs="l2leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL2>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l2rightcomp" MyID_Obs="l2rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL2>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l2bodycomp" MyID_Obs="l2bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL2>" ]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="l2frag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/SegmentOfSecondLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>L2</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l2leftcomp" MyID_Obs="l2leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l2bodycomp" MyID_Obs="l2bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l2rightcomp" MyID_Obs="l2rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save L2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-L2-update" ufbTemplate="L2-Template" ufbname="L2"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="L2" event-target="show-after-L2-update"]]  

            <hr>

            <!-- L3 Form --> 
            
            <semantic-form
              id='L3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='L3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l3leftcomp" MyID_Obs="l3leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL3>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l3rightcomp" MyID_Obs="l3rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL3>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l3bodycomp" MyID_Obs="l3bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL3>" ]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="l3frag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/SegmentOfThirdLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>L3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l3leftcomp" MyID_Obs="l3leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l3bodycomp" MyID_Obs="l3bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l3rightcomp" MyID_Obs="l3rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save L3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-L3-update" ufbTemplate="L3-Template" ufbname="L3"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="L3" event-target="show-after-L3-update"]]  

            <hr>

            <!-- L4 Form --> 
            
            <semantic-form
              id='L4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='L4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l4leftcomp" MyID_Obs="l4leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL4>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l4rightcomp" MyID_Obs="l4rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL4>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l4bodycomp" MyID_Obs="l4bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL4>" ]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="l4frag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/SegmentOfFourthLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>L4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l4leftcomp" MyID_Obs="l4leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l4bodycomp" MyID_Obs="l4bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l4rightcomp" MyID_Obs="l4rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save L4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-L4-update" ufbTemplate="L4-Template" ufbname="L4"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="L4" event-target="show-after-L4-update"]]  

            <hr>

            <!-- L5 Form --> 
            
            <semantic-form
              id='L5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='L5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l5leftcomp" MyID_Obs="l5leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL5>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l5rightcomp" MyID_Obs="l5rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL5>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l5bodycomp" MyID_Obs="l5bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL5>" ]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="l5frag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/SegmentOfFifthLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>L5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l5leftcomp" MyID_Obs="l5leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l5bodycomp" MyID_Obs="l5bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l5rightcomp" MyID_Obs="l5rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save L5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-L5-update" ufbTemplate="L5-Template" ufbname="L5"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="L5" event-target="show-after-L5-update"]]  


<hr>

<!-- L6 Form --> 
            
            <semantic-form
              id='L6'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='L6'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l6leftcomp" MyID_Obs="l6leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfL6>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l6rightcomp" MyID_Obs="l6rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL6>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l6bodycomp" MyID_Obs="l6bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfL6>" ]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="l6frag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/SegmentOfFifthLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>L6</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l6leftcomp" MyID_Obs="l6leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l6bodycomp" MyID_Obs="l6bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l6rightcomp" MyID_Obs="l6rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save L6</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-L6-update" ufbTemplate="L6-Template" ufbname="L6"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="L6" event-target="show-after-L6-update"]]  


<hr>

            <!-- Lumbar grouped Form --> 

<semantic-form
 id='LG'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='LG'
 persistence='sparql'
 fields='[
   [[>:PSI_SI_MD_FormSnippet MyID="lgleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftPartOfLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
   [[>:PSI_SI_MD_FormSnippet MyID="lgbody" MyLabel="Number of body fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireBodyOfLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]  
,
  [[>:PSI_SI_MD_FormSnippet MyID="lgright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightPartOfLumbarVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
  [[>:PSI_SI_MD_FormSnippet MyID="lgunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma9921>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
    ]' 
>
<h2><strong>Lumbar Vertebrae, grouped</strong></h2>
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                
                 <div class="grid-demo">
                     <semantic-form-text-input for='lgleft'></semantic-form-text-input>
                     <semantic-form-text-input for='lgbody'></semantic-form-text-input>
                     <semantic-form-text-input for='lgright'></semantic-form-text-input>
                     <semantic-form-text-input for='lgunsided'></semantic-form-text-input>
                     <button name="submit" class="btn btn-primary"><strong>Save Lumbar Vertebrae, grouped</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LG-update" ufbTemplate="LG-Template" ufbname="LG"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LG" event-target="show-after-LG-update"]]  

<hr>


            <!--Sacrum Form --> 
            
            <semantic-form
              id='Sacrum'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='Sacrum'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="sacrumleftcomp" MyID_Obs="sacrumleftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftLateralMassOfSacrum>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="sacrumrightcomp" MyID_Obs="sacrumrightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightLateralMassOfSacrum>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="sacrumbodycomp" MyID_Obs="sacrumbodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfSacrum>" ]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="sacrumfrag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/phaleron-si.owl#SegmentOfSacrum>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
              ]'
            >
            <h2><strong>Sacrum</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="sacrumleftcomp" MyID_Obs="sacrumleftobs" WHERE="Left lateral mass of sacrum"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="sacrumbodycomp" MyID_Obs="sacrumbodyobs" WHERE="Body of sacrum"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="sacrumrightcomp" MyID_Obs="sacrumrightobs" WHERE="Right lateral mass of sacrum"]] 
                 
                  <div class="grid-demo">
                    <semantic-form-text-input for='sacrumfrag'></semantic-form-text-input>
                      <button name="submit" class="btn btn-primary"><strong>Save Sacrum</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Sacrum-update" ufbTemplate="Sacrum-Template" ufbname="Sacrum"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Sacrum" event-target="show-after-Sacrum-update"]]  

<hr>

