<h2><strong>Thoracic Vertebrae</strong></h2> 

<hr>

          

            <!-- T1 Form --> 
            
            <semantic-form
              id='T1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='T1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t1leftcomp" MyID_Obs="t1leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT1>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t1rightcomp" MyID_Obs="t1rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT1>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t1bodycomp" MyID_Obs="t1bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT1>" ]]                              
              ]'
            >
            <h2><strong>T1</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t1leftcomp" MyID_Obs="t1leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t1bodycomp" MyID_Obs="t1bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t1rightcomp" MyID_Obs="t1rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save T1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T1-update" ufbTemplate="T1-Template" ufbname="T1"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T1" event-target="show-after-T1-update"]]  

            <hr>

            <!-- T2 Form --> 
            
            <semantic-form
              id='T2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='T2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t2leftcomp" MyID_Obs="t2leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT2>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t2rightcomp" MyID_Obs="t2rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT2>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t2bodycomp" MyID_Obs="t2bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT2>" ]]                                      
              ]'
            >
            <h2><strong>T2</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t2leftcomp" MyID_Obs="t2leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t2bodycomp" MyID_Obs="t2bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t2rightcomp" MyID_Obs="t2rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save T2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T2-update" ufbTemplate="T2-Template" ufbname="T2"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T2" event-target="show-after-T2-update"]]  

            <hr>

            <!-- T3 Form --> 
            
            <semantic-form
              id='T3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='T3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t3leftcomp" MyID_Obs="t3leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT3>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t3rightcomp" MyID_Obs="t3rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT3>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t3bodycomp" MyID_Obs="t3bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT3>" ]]                                     
              ]'
            >
            <h2><strong>T3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t3leftcomp" MyID_Obs="t3leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t3bodycomp" MyID_Obs="t3bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t3rightcomp" MyID_Obs="t3rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save T3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T3-update" ufbTemplate="T3-Template" ufbname="T3"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T3" event-target="show-after-T3-update"]]  

            <hr>

            <!-- T4 Form --> 
            
            <semantic-form
              id='T4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='T4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t4leftcomp" MyID_Obs="t4leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT4>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t4rightcomp" MyID_Obs="t4rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT4>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t4bodycomp" MyID_Obs="t4bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT4>" ]]                               
              ]'
            >
            <h2><strong>T4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t4leftcomp" MyID_Obs="t4leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t4bodycomp" MyID_Obs="t4bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t4rightcomp" MyID_Obs="t4rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save T4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T4-update" ufbTemplate="T4-Template" ufbname="T4"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T4" event-target="show-after-T4-update"]]  

            <hr>

            <!-- T5 Form --> 
            
            <semantic-form
              id='T5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='T5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t5leftcomp" MyID_Obs="t5leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT5>" ]]               
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t5rightcomp" MyID_Obs="t5rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT5>" ]]
                  ,
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t5bodycomp" MyID_Obs="t5bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT5>" ]]                                      
              ]'
            >
            <h2><strong>T5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t5leftcomp" MyID_Obs="t5leftobs" WHERE="Left half of neural arch"]]   
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t5bodycomp" MyID_Obs="t5bodyobs" WHERE="Body"]]          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t5rightcomp" MyID_Obs="t5rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save T5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T5-update" ufbTemplate="T5-Template" ufbname="T5"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T5" event-target="show-after-T5-update"]]  

            <hr>

            <!-- T6 Form --> 

<semantic-form
  id='T6'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='T6'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t6leftcomp" MyID_Obs="t6leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT6>" ]]               
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t6rightcomp" MyID_Obs="t6rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT6>" ]]
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t6bodycomp" MyID_Obs="t6bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT6>" ]]                                    
  ]'
>
<h2><strong>T6</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t6leftcomp" MyID_Obs="t6leftobs" WHERE="Left half of neural arch"]]   
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t6bodycomp" MyID_Obs="t6bodyobs" WHERE="Body"]]          
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t6rightcomp" MyID_Obs="t6rightobs" WHERE="Right half of neural arch"]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save T6</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T6-update" ufbTemplate="T6-Template" ufbname="T6"]]
      </div>
    </div>
  
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T6" event-target="show-after-T6-update"]]  

<hr>

<!-- T7 Form --> 

<semantic-form
  id='T7'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='T7'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t7leftcomp" MyID_Obs="t7leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT7>" ]]               
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t7rightcomp" MyID_Obs="t7rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT7>" ]]
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t7bodycomp" MyID_Obs="t7bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT7>" ]]                                       
  ]'
>
<h2><strong>T7</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t7leftcomp" MyID_Obs="t7leftobs" WHERE="Left half of neural arch"]]   
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t7bodycomp" MyID_Obs="t7bodyobs" WHERE="Body"]]          
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t7rightcomp" MyID_Obs="t7rightobs" WHERE="Right half of neural arch"]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save T7</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T7-update" ufbTemplate="T7-Template" ufbname="T7"]]
      </div>
    </div>
  
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T7" event-target="show-after-T7-update"]]  

<hr>

<!-- T8 Form --> 

<semantic-form
  id='T8'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='T8'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t8leftcomp" MyID_Obs="t8leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT8>" ]]               
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t8rightcomp" MyID_Obs="t8rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT8>" ]]
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t8bodycomp" MyID_Obs="t8bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT8>" ]]                                     
  ]'
>
<h2><strong>T8</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t8leftcomp" MyID_Obs="t8leftobs" WHERE="Left half of neural arch"]]   
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t8bodycomp" MyID_Obs="t8bodyobs" WHERE="Body"]]          
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t8rightcomp" MyID_Obs="t8rightobs" WHERE="Right half of neural arch"]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save T8</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T8-update" ufbTemplate="T8-Template" ufbname="T8"]]
      </div>
    </div>
  
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T8" event-target="show-after-T8-update"]]  

<hr>

<!-- T9 Form --> 

<semantic-form
  id='T9'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='T9'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t9leftcomp" MyID_Obs="t9leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT9>" ]]               
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t9rightcomp" MyID_Obs="t9rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT9>" ]]
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t9bodycomp" MyID_Obs="t9bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT9>" ]]                                     
  ]'
>
<h2><strong>T9</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t9leftcomp" MyID_Obs="t9leftobs" WHERE="Left half of neural arch"]]   
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t9bodycomp" MyID_Obs="t9bodyobs" WHERE="Body"]]          
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t9rightcomp" MyID_Obs="t9rightobs" WHERE="Right half of neural arch"]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save T9</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T9-update" ufbTemplate="T9-Template" ufbname="T9"]]
      </div>
    </div>
  
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T9" event-target="show-after-T9-update"]]  

<hr>

<!-- T10 Form --> 

<semantic-form
  id='T10'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='T10'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t10leftcomp" MyID_Obs="t10leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT10>" ]]               
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t10rightcomp" MyID_Obs="t10rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT10>" ]]
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t10bodycomp" MyID_Obs="t10bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT10>" ]]                                     
  ]'
>
<h2><strong>T10</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t10leftcomp" MyID_Obs="t10leftobs" WHERE="Left half of neural arch"]]   
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t10bodycomp" MyID_Obs="t10bodyobs" WHERE="Body"]]          
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t10rightcomp" MyID_Obs="t10rightobs" WHERE="Right half of neural arch"]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save T10</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T10-update" ufbTemplate="T10-Template" ufbname="T10"]]
      </div>
    </div>
  
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T10" event-target="show-after-T10-update"]]  

<hr>

<!-- T11 Form --> 

<semantic-form
  id='T11'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='T11'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t11leftcomp" MyID_Obs="t11leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT11>" ]]               
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t11rightcomp" MyID_Obs="t11rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT11>" ]]
      ,
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t11bodycomp" MyID_Obs="t11bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT11>" ]]                                      
  ]'
>
<h2><strong>T11</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t11leftcomp" MyID_Obs="t11leftobs" WHERE="Left half of neural arch"]]   
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t11bodycomp" MyID_Obs="t11bodyobs" WHERE="Body"]]          
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t11rightcomp" MyID_Obs="t11rightobs" WHERE="Right half of neural arch"]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save T11</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T11-update" ufbTemplate="T11-Template" ufbname="T11"]]
      </div>
    </div>
  
</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T11" event-target="show-after-T11-update"]]  

<hr>

<!-- T12 Form --> 

<semantic-form
id='T12'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='T12'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t12leftcomp" MyID_Obs="t12leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT12>" ]]               
,
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t12rightcomp" MyID_Obs="t12rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT12>" ]]
,
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t12bodycomp" MyID_Obs="t12bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT12>" ]]                                      
]'
>
<h2><strong>T12</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t12leftcomp" MyID_Obs="t12leftobs" WHERE="Left half of neural arch"]]   
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t12bodycomp" MyID_Obs="t12bodyobs" WHERE="Body"]]          
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t12rightcomp" MyID_Obs="t12rightobs" WHERE="Right half of neural arch"]] 

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save T12</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T12-update" ufbTemplate="T12-Template" ufbname="T12"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T12" event-target="show-after-T12-update"]]  

<hr>

<!-- T13 Form --> 

<semantic-form
id='T13'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='T13'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t13leftcomp" MyID_Obs="t13leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfT13>" ]]               
,
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t13rightcomp" MyID_Obs="t13rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT13>" ]]
,
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t13bodycomp" MyID_Obs="t13bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfT13>" ]]                                      
]'
>
<h2><strong>T13</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t13leftcomp" MyID_Obs="t13leftobs" WHERE="Left half of neural arch"]]   
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t13bodycomp" MyID_Obs="t13bodyobs" WHERE="Body"]]          
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t13rightcomp" MyID_Obs="t13rightobs" WHERE="Right half of neural arch"]] 

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save T13</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-T13-update" ufbTemplate="T13-Template" ufbname="T13"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="T13" event-target="show-after-T13-update"]]  

<hr>

<!-- Thoracic grouped Form --> 

<semantic-form
 id='TG'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='TG'
 persistence='sparql'
 fields='[
   [[>:PSI_SI_MD_FormSnippet MyID="tgleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftPartOfThoracicVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
   [[>:PSI_SI_MD_FormSnippet MyID="tgbody" MyLabel="Number of body fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireBodyOfThoracicVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]  
,
  [[>:PSI_SI_MD_FormSnippet MyID="tgright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightPartOfThoracicVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
  [[>:PSI_SI_MD_FormSnippet MyID="tgunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma9139>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
]' 
>
<h2><strong>Thoracic Vertebrae, grouped</strong></h2>
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                
                 <div class="grid-demo">
                     <semantic-form-text-input for='tgleft'></semantic-form-text-input>
                     <semantic-form-text-input for='tgbody'></semantic-form-text-input>
                     <semantic-form-text-input for='tgright'></semantic-form-text-input>
                     <semantic-form-text-input for='tgunsided'></semantic-form-text-input>
                     <button name="submit" class="btn btn-primary"><strong>Save Thoracic Vertebrae, grouped</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-TG-update" ufbTemplate="TG-Template" ufbname="TG"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="TG" event-target="show-after-TG-update"]]  

           <hr>