<h2><strong>Right Parts of Vertebral Column</strong></h2>

<hr>

<h3>Cervical Vertebrae</h3>

<hr>

<!-- Right Atlas Form -->

<semantic-form
  id='RightAtlas'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightAtlas'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="rightc1comp" MyID_Obs="rightc1obs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfPosteriorArchOfC1>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="rightc1comp" MyID_Obs="rightc1obs" WHERE="Atlas: Right half of posterior arch"]]
         <div class="grid-demo">
        <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of Atlas</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightAtlas-update" ufbTemplate="RightAtlas-Template" ufbname="RightAtlas"]]
       </div>
    </div>
    </semantic-form>
   [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightAtlas" event-target="show-after-RightAtlas-update"]]

<hr>

<!-- Right Axis Form -->

<semantic-form
  id='RightAxis'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightAxis'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="axisrightcomp" MyID_Obs="axisrightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC2>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="axisrightcomp" MyID_Obs="axisrightobs" WHERE="Axis: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of Axis</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightAxis-update" ufbTemplate="RightAxis-Template" ufbname="RightAxis"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightAxis" event-target="show-after-RightAxis-update"]]

<hr>

<!-- Right C3 Form -->

<semantic-form
  id='RightC3'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightC3'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c3rightcomp" MyID_Obs="c3rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC3>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c3rightcomp" MyID_Obs="c3rightobs" WHERE="C3: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of C3</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightC3-update" ufbTemplate="RightC3-Template" ufbname="RightC3"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightC3" event-target="show-after-RightC3-update"]]

<hr>

<!-- Right C4 Form -->

<semantic-form
  id='RightC4'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightC4'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c4rightcomp" MyID_Obs="c4rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC4>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c4rightcomp" MyID_Obs="c4rightobs" WHERE="C4: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of C4</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightC4-update" ufbTemplate="RightC4-Template" ufbname="RightC4"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightC4" event-target="show-after-RightC4-update"]]

<hr>

<!-- Right C5 Form -->

<semantic-form
  id='RightC5'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightC5'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c5rightcomp" MyID_Obs="c5rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC5>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c5rightcomp" MyID_Obs="c5rightobs" WHERE="C5: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of C5</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightC5-update" ufbTemplate="RightC5-Template" ufbname="RightC5"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightC5" event-target="show-after-RightC5-update"]]

<hr>

<!-- Right C6 Form -->

<semantic-form
  id='RightC6'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightC6'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c6rightcomp" MyID_Obs="c6rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC6>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c6rightcomp" MyID_Obs="c6rightobs" WHERE="C6: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of C6</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightC6-update" ufbTemplate="RightC6-Template" ufbname="RightC6"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightC6" event-target="show-after-RightC6-update"]]

<hr>

<!-- Right C7 Form -->

<semantic-form
id='RightC7'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightC7'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c7rightcomp" MyID_Obs="c7rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC7>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c7rightcomp" MyID_Obs="c7rightobs" WHERE="C7: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of C7</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightC7-update" ufbTemplate="RightC7-Template" ufbname="RightC7"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightC7" event-target="show-after-RightC7-update"]]


<hr>

<h3>Thoracic Vertebrae</h3>

<hr>

<!-- Right T1 Form -->

<semantic-form
  id='RightT1'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightT1'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t1rightcomp" MyID_Obs="t1rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT1>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t1rightcomp" MyID_Obs="t1rightobs" WHERE="T1: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T1</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT1-update" ufbTemplate="RightT1-Template" ufbname="RightT1"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT1" event-target="show-after-RightT1-update"]]

<hr>

<!-- Right T2 Form -->

<semantic-form
  id='RightT2'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightT2'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t2rightcomp" MyID_Obs="t2rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT2>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t2rightcomp" MyID_Obs="t2rightobs" WHERE="T2: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T2</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT2-update" ufbTemplate="RightT2-Template" ufbname="RightT2"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT2" event-target="show-after-RightT2-update"]]

<hr>

<!-- Right T3 Form -->

<semantic-form
  id='RightT3'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightT3'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t3rightcomp" MyID_Obs="t3rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT3>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t3rightcomp" MyID_Obs="t3rightobs" WHERE="T3: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T3</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT3-update" ufbTemplate="RightT3-Template" ufbname="RightT3"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT3" event-target="show-after-RightT3-update"]]

<hr>

<!-- Right T4 Form -->

<semantic-form
  id='RightT4'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightT4'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t4rightcomp" MyID_Obs="t4rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT4>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t4rightcomp" MyID_Obs="t4rightobs" WHERE="T4: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T4</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT4-update" ufbTemplate="RightT4-Template" ufbname="RightT4"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT4" event-target="show-after-RightT4-update"]]

<hr>

<!-- Right T5 Form -->

<semantic-form
  id='RightT5'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightT5'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t5rightcomp" MyID_Obs="t5rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT5>" ]]
  ]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t5rightcomp" MyID_Obs="t5rightobs" WHERE="T5: Right half of neural arch"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T5</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT5-update" ufbTemplate="RightT5-Template" ufbname="RightT5"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT5" event-target="show-after-RightT5-update"]]

<hr>

<!-- Right T6 Form -->

<semantic-form
id='RightT6'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT6'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t6rightcomp" MyID_Obs="t6rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT6>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t6rightcomp" MyID_Obs="t6rightobs" WHERE="T6: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T6</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT6-update" ufbTemplate="RightT6-Template" ufbname="RightT6"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT6" event-target="show-after-RightT6-update"]]

<hr>

<!-- Right T7 Form -->

<semantic-form
id='RightT7'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT7'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t7rightcomp" MyID_Obs="t7rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT7>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t7rightcomp" MyID_Obs="t7rightobs" WHERE="T7: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T7</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT7-update" ufbTemplate="RightT7-Template" ufbname="RightT7"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT7" event-target="show-after-RightT7-update"]]

<hr>

<!-- Right T8 Form -->

<semantic-form
id='RightT8'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT8'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t8rightcomp" MyID_Obs="t8rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT8>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t8rightcomp" MyID_Obs="t8rightobs" WHERE="T8: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T8</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT8-update" ufbTemplate="RightT8-Template" ufbname="RightT8"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT8" event-target="show-after-RightT8-update"]]

<hr>

<!-- Right T9 Form -->

<semantic-form
id='RightT9'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT9'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t9rightcomp" MyID_Obs="t9rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT9>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t9rightcomp" MyID_Obs="t9rightobs" WHERE="T9: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T9</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT9-update" ufbTemplate="RightT9-Template" ufbname="RightT9"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT9" event-target="show-after-RightT9-update"]]

<hr>

<!-- Right T10 Form -->

<semantic-form
id='RightT10'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT10'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t10rightcomp" MyID_Obs="t10rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT10>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t10rightcomp" MyID_Obs="t10rightobs" WHERE="T10: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T10</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT10-update" ufbTemplate="RightT10-Template" ufbname="RightT10"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT10" event-target="show-after-RightT10-update"]]

<hr>

<!-- Right T11 Form -->

<semantic-form
id='RightT11'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT11'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t11rightcomp" MyID_Obs="t11rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT11>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t11rightcomp" MyID_Obs="t11rightobs" WHERE="T11: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T11</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT11-update" ufbTemplate="RightT11-Template" ufbname="RightT11"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT11" event-target="show-after-RightT11-update"]]

<hr>

<!-- Right T12 Form -->

<semantic-form
id='RightT12'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT12'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t12rightcomp" MyID_Obs="t12rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT12>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t12rightcomp" MyID_Obs="t12rightobs" WHERE="T12: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T12</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT12-update" ufbTemplate="RightT12-Template" ufbname="RightT12"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT12" event-target="show-after-RightT12-update"]]

<hr>

<!-- Right T13 Form -->

<semantic-form
id='RightT13'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='RightT13'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="t13rightcomp" MyID_Obs="t13rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfT13>" ]]
]'
>

<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="t13rightcomp" MyID_Obs="t13rightobs" WHERE="T13: Right half of neural arch"]]

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save right neural Arch of T13</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightT13-update" ufbTemplate="RightT13-Template" ufbname="RightT13"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightT13" event-target="show-after-RightT13-update"]]

<hr>

<h3>Lumbar Vertebrae</h3>

<hr>

            <!-- Right L1 Form -->

            <semantic-form
              id='RightL1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightL1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l1rightcomp" MyID_Obs="l1rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL1>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l1rightcomp" MyID_Obs="l1rightobs" WHERE="L1: Right half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of L1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightL1-update" ufbTemplate="RightL1-Template" ufbname="RightL1"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightL1" event-target="show-after-RightL1-update"]]

            <hr>

            <!-- Right L2 Form -->

            <semantic-form
              id='RightL2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightL2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l2rightcomp" MyID_Obs="l2rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL2>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l2rightcomp" MyID_Obs="l2rightobs" WHERE="L2: Right half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of L2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightL2-update" ufbTemplate="RightL2-Template" ufbname="RightL2"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightL2" event-target="show-after-RightL2-update"]]

            <hr>

            <!-- Right L3 Form -->

            <semantic-form
              id='RightL3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightL3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l3rightcomp" MyID_Obs="l3rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL3>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l3rightcomp" MyID_Obs="l3rightobs" WHERE="L3: Right half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of L3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightL3-update" ufbTemplate="RightL3-Template" ufbname="RightL3"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightL3" event-target="show-after-RightL3-update"]]

            <hr>

            <!-- Right L4 Form -->

            <semantic-form
              id='RightL4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightL4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l4rightcomp" MyID_Obs="l4rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL4>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l4rightcomp" MyID_Obs="l4rightobs" WHERE="L4: Right half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of L4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightL4-update" ufbTemplate="RightL4-Template" ufbname="RightL4"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightL4" event-target="show-after-RightL4-update"]]

            <hr>

            <!-- Right L5 Form -->

            <semantic-form
              id='RightL5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightL5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l5rightcomp" MyID_Obs="l5rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL5>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l5rightcomp" MyID_Obs="l5rightobs" WHERE="L5: Right half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of L5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightL5-update" ufbTemplate="RightL5-Template" ufbname="RightL5"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightL5" event-target="show-after-RightL5-update"]]


<hr>

<!-- Right L6 Form -->

            <semantic-form
              id='RightL6'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightL6'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="l6rightcomp" MyID_Obs="l6rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfL6>" ]]
              ]'
            >
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="l6rightcomp" MyID_Obs="l6rightobs" WHERE="L6: Right half of neural arch"]]

                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right neural Arch of L6</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightL6-update" ufbTemplate="RightL6-Template" ufbname="RightL6"]]
                  </div>
                </div>

            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightL6" event-target="show-after-RightL6-update"]]

 <hr>

 <h3>Sacrum</h3>

<hr>

<!--Right Sacrum Form -->

<semantic-form
  id='RightSacrum'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightSacrum'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="sacrumrightcomp" MyID_Obs="sacrumrightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightLateralMassOfSacrum>" ]]
  ]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="sacrumrightcomp" MyID_Obs="sacrumrightobs" WHERE="Right lateral mass of sacrum"]]

      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save right lateral Mass of Sacrum</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightSacrum-update" ufbTemplate="RightSacrum-Template" ufbname="RightSacrum"]]
      </div>
    </div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightSacrum" event-target="show-after-RightSacrum-update"]]

<hr>
