<!-- Phalanges of Foot, grouped Form --> 
            
            <semantic-form
              id='PhalangesFoot'
              subject='{{page-resource}}'
              post-action='event'
              browser-persistence=true
              form-id='PhalangesFoot'
              persistence='sparql'
              fields='[
                       
                  [[>:PSI_SI_MD_FormSnippet MyID="proximalleftfootphalanges" MyLabel="Fragments of Left Proximal Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftProximalPhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="intermediateleftfootphalanges" MyLabel="Fragments of Left Intermediate Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftMiddlePhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="distalleftfootphalanges" MyLabel="Fragments of Left Distal Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftDistalPhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="proximalrightfootphalanges" MyLabel="Fragments of Right Proximal Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightProximalPhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="intermediaterightfootphalanges" MyLabel="Fragments of Right Intermediate Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightMiddlePhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="distalrightfootphalanges" MyLabel="Fragments of Right Distal Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightDistalPhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="leftfootphalangesgrouped" MyLabel="Unclassified Left Fragments of Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireLeftPhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="rightfootphalangesgrouped" MyLabel="Unclassified Right Fragments of Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireRightPhalanxOfToe>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]      
                  , 
                  [[>:PSI_SI_MD_FormSnippet MyID="unsidedfootphalangesgrouped" MyLabel="Unsided and Unclassified Fragments of Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24493>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]   
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="unsidedproximalfootphalanges" MyLabel="Unsided Fragments of Proximal Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma75828>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]      
                  , 
                  [[>:PSI_SI_MD_FormSnippet MyID="unsidedintermediatefootphalanges" MyLabel="Unsided Fragments of Intermediate Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma75829>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]   
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="unsideddistalfootphalanges" MyLabel="Unsided Fragments of Distal Foot Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma75830>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]           
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="leftfootsesamoids" MyLabel="Fragments of Left Foot Sesamoids" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma45098>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]      
                  , 
                  [[>:PSI_SI_MD_FormSnippet MyID="rightfootsesamoids" MyLabel="Fragments of Right Foot Sesamoids" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma45097>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]   
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="unsidedfootsesamoids" MyLabel="Unsided Fragments of Foot Sesamoids" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma45096>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
              ]'
            >
            <h2><strong>Phalanges of Foot, grouped</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">             
                  <div class="grid-demo">
                    <h6>Unsided fragments</h6>
                      <semantic-form-text-input for='proximalleftfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='intermediateleftfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='distalleftfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='proximalrightfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='intermediaterightfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='distalrightfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='unsidedproximalfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='unsidedintermediatefootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='unsideddistalfootphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='leftfootphalangesgrouped'></semantic-form-text-input>
                      <semantic-form-text-input for='rightfootphalangesgrouped'></semantic-form-text-input>
                      <semantic-form-text-input for='unsidedfootphalangesgrouped'></semantic-form-text-input>
                      <semantic-form-text-input for='leftfootsesamoids'></semantic-form-text-input>
                      <semantic-form-text-input for='rightfootsesamoids'></semantic-form-text-input>
                      <semantic-form-text-input for='unsidedfootsesamoids'></semantic-form-text-input>
                      
                                                                                                              
                      <button name="submit" class="btn btn-primary"><strong>Save Phalanges of Foot, grouped</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-PhalangesFoot-update" ufbTemplate="PhalangesFoot-Template" ufbname="Phalanges, grouped"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="PhalangesFoot" event-target="show-after-PhalangesFoot-update"]]  

            <hr>

            <semantic-form
  id='EntireFootGrouped'
  subject='{{page-resource}}'
  post-action='event'
  browser-persistence=true
  form-id='EntireFootGrouped'
  persistence='sparql'
  fields='[
    [[>:PSI_SI_MD_FormSnippet MyID="footgroupedleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfLeftFoot>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
   [[>:PSI_SI_MD_FormSnippet MyID="footgroupedright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfRightFoot>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
   [[>:PSI_SI_MD_FormSnippet MyID="footgroupedunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfFoot>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
     ]' 
>
<h2><strong>Fragments of Foot, grouped</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 
                  <div class="grid-demo">
                      <semantic-form-text-input for='footgroupedleft'></semantic-form-text-input>
                      <semantic-form-text-input for='footgroupedright'></semantic-form-text-input>
                      <semantic-form-text-input for='footgroupedunsided'></semantic-form-text-input>
                      <button name="submit" class="btn btn-primary"><strong>Save Fragments of Foot, grouped</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-EntireFootGrouped-update" ufbTemplate="EntireFootGrouped-Template" ufbname="EntireFootGrouped"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="EntireFootGrouped" event-target="show-after-EntireFootGrouped-update"]]  

                        <hr>

                        <!-- Left Foot Taphonomy Form --> 

<semantic-form
  id='LeftFootTaph'
  subject='{{page-resource}}'
  post-action='event'
  browser-persistence=true
  form-id='LeftFootTaph'
  persistence='sparql'
  fields='[

[[>:PSI_SI_MD_FormTaphonomySnippet MyID_Taph="leftfoottaph" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfLeftFoot>" ]]       
]' 
>
<h2><strong>Taphonomy of the entire left Foot</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormSingleGUISnippet MyID="leftfoottaph" WHERE=""]]
		  
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Taphonomy of the entire left Foot</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftFootTaph-update" ufbTemplate="LeftFootTaph-Template" ufbname="LeftFootTaph"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftFootTaph" event-target="show-after-LeftFootTaph-update"]] 

            <hr>

                        <!-- Right Foot Taphonomy Form --> 

<semantic-form
  id='RightFootTaph'
  subject='{{page-resource}}'
  post-action='event'
  browser-persistence=true
  form-id='RightFootTaph'
  persistence='sparql'
  fields='[

[[>:PSI_SI_MD_FormTaphonomySnippet MyID_Taph="rightfoottaph" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfRightFoot>" ]]       
]' 
>
<h2><strong>Taphonomy of the entire right Foot</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormSingleGUISnippet MyID="rightfoottaph" WHERE=""]]    
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Taphonomy of the entire right Foot</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightFootTaph-update" ufbTemplate="RightFootTaph-Template" ufbname="RightFootTaph"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightFootTaph" event-target="show-after-RightFootTaph-update"]] 
