<h2><strong>Deciduous Maxillary Dentition</strong></h2>
<hr>
           <!-- Right Maxillary Arcade Form -->
            <semantic-form
              id = 'RightMaxillaryArcade'
              subject='{{page-resource}}'
              post-action='event'
              browser-persistence=true
              form-id='RightMaxillaryArcade'
              persistence='sparql'
              fields='[
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightCariesM2" label="Caries M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84244>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightCariesM1" label="Caries M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84242>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightCariesC" label="Caries C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84232>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightCariesI2" label="Caries I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84226>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightCariesI1" label="Caries I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84224>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceCalculusM2" label="Presence of Calculus M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84244>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceCalculusM1" label="Presence of Calculus M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84242>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceCalculusC" label="Presence of Calculus C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84232>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceCalculusI2" label="Presence of Calculus I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84226>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceCalculusI1" label="Presence of Calculus I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84224>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightLocationOfCalculusM2" label="Location Of Calculus M2" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84244>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightLocationOfCalculusM1" label="Location Of Calculus M1" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84242>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightLocationOfCalculusC" label="Location Of Calculus C" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84232>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } ,{
	      [[>:PSI_SI_FormHeaderSnippet id="RightLocationOfCalculusI2" label="Location Of Calculus I2" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84226>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } ,{
	      [[>:PSI_SI_FormHeaderSnippet id="RightLocationOfCalculusI1" label="Location Of Calculus I1" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84224>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } ,

	      
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightHypoplasiaM2" label="Hypoplasia M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84244>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightHypoplasiaM1" label="Hypoplasia M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84242>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightHypoplasiaC" label="Hypoplasia C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84232>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightHypoplasiaI2" label="Hypoplasia I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84226>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightHypoplasiaI1" label="Hypoplasia I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84224>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	       [[>:PSI_SI_FormHeaderSnippet id="RightAlveolarResorptionM2" label="Alveolar Resorption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
            [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317394>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAlveolarResorptionM1" label="Alveolar Resorption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
            [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317392>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAlveolarResorptionC" label="Alveolar Resorption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
            [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317386>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAlveolarResorptionI2" label="Alveolar Resorption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
            [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317384>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAlveolarResorptionI1" label="Alveolar Resorption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
            [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317382>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAbscessM2" label="Abscess M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317394>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAbscessM1" label="Abscess M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317392>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      }  , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAbscessC" label="Abscess C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317386>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAbscessI2" label="Abscess I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317384>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightAbscessI1" label="Abscess I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317382>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } 

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Right Maxillary Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">
	 	<div class="grid-demo">
                   <semantic-form-select-input for='RightAlveolarResorptionM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightAbscessM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightHypoplasiaM2'></semantic-form-select-input>
                  <semantic-form-select-input for='RightPresenceCalculusM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightLocationOfCalculusM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightCariesM2'></semantic-form-select-input>

		</div>
		
		<div class="grid-demo">
                 <semantic-form-select-input for='RightAlveolarResorptionM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightAbscessM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightHypoplasiaM1'></semantic-form-select-input>
                  <semantic-form-select-input for='RightPresenceCalculusM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightLocationOfCalculusM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightCariesM1'></semantic-form-select-input>

		</div>
	      </div> <br>
	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightAlveolarResorptionC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightAbscessC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightHypoplasiaC'></semantic-form-select-input>
                  <semantic-form-select-input for='RightPresenceCalculusC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightLocationOfCalculusC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightCariesC'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightAlveolarResorptionI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightAbscessI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightHypoplasiaI2'></semantic-form-select-input>
                  <semantic-form-select-input for='RightPresenceCalculusI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightLocationOfCalculusI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightCariesI2'></semantic-form-select-input>

		</div>
		
		<div class="grid-demo">
                  <semantic-form-select-input for='RightAlveolarResorptionI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightAbscessI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightHypoplasiaI1'></semantic-form-select-input>
                  <semantic-form-select-input for='RightPresenceCalculusI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightLocationOfCalculusI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightCariesI1'></semantic-form-select-input>
		</div>
	      </div>
	      <br>
	
	     
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Right Maxillary Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-right-MaxillaryArcade-update" ufbTemplate="rightMax-Template" ufbname="Right Maxillary Arcade"]]
            </semantic-form>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightMaxillaryArcade" event-target="show-after-right-MaxillaryArcade-update"]]

<hr>
          <!-- Left Maxillary Arcade Form -->
            <semantic-form
              id = 'LeftMaxillaryArcade'
              subject='{{page-resource}}'
              post-action='event'
              browser-persistence=true
              form-id='LeftMaxillaryArcade'
              persistence='sparql'
             fields='[
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftCariesM2" label="Caries M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84245>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftCariesM1" label="Caries M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84243>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftCariesC" label="Caries C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84233>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftCariesI2" label="Caries I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84227>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftCariesI1" label="Caries I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84225>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Caries>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceCalculusM2" label="Presence of Calculus M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84245>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceCalculusM1" label="Presence of Calculus M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84243>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceCalculusC" label="Presence of Calculus C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84233>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceCalculusI2" label="Presence of Calculus I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84227>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceCalculusI1" label="Presence of Calculus I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84225>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/PresenceOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftLocationOfCalculusM2" label="Location Of Calculus M2" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84245>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftLocationOfCalculusM1" label="Location Of Calculus M1" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84243>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftLocationOfCalculusC" label="Location Of Calculus C" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84233>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } ,{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftLocationOfCalculusI2" label="Location Of Calculus I2" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84227>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } ,{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftLocationOfCalculusI1" label="Location Of Calculus I1" xsdDatatype="xsd:anyURI" minOccurs="0" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84225>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/LocationOfCalculus>" ConnectValue="obo:OBI_0000999" ]]
	      } ,

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftHypoplasiaM2" label="Hypoplasia M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84245>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftHypoplasiaM1" label="Hypoplasia M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84243>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftHypoplasiaC" label="Hypoplasia C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84233>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftHypoplasiaI2" label="Hypoplasia I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84227>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftHypoplasiaI1" label="Hypoplasia I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="unbound"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfTooth" ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84225>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Hypoplasia>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAlveolarResorptionM2" label="Alveolar Resorption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317410>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAlveolarResorptionM1" label="Alveolar Resorption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317408>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } ,  {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAlveolarResorptionC" label="Alveolar Resorption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317402>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAlveolarResorptionI2" label="Alveolar Resorption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317400>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAlveolarResorptionI1" label="Alveolar Resorption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317398>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/AlveolarResorption>" ConnectValue="obo:OBI_0000999" ]]
	      } ,
	      
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAbscessM2" label="Abscess M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317410>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAbscessM1" label="Abscess M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317408>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAbscessC" label="Abscess C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317402>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAbscessI2" label="Abscess I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317400>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftAbscessI1" label="Abscess I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippetCond insertValue="<http://w3id.org/rdfbones/ext/phaleron-patho/ObservationImpossible>" MDcheckClass="phaleron-di:PresenceOfAlveolarBone" ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317398>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-dpatho/Abscess>" ConnectValue="obo:OBI_0000999" ]]
	      }

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Left Maxillary Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">
		
 		<div class="grid-demo">
                  <semantic-form-select-input for='LeftAlveolarResorptionM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftAbscessM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftHypoplasiaM2'></semantic-form-select-input>
                  <semantic-form-select-input for='LeftPresenceCalculusM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftLocationOfCalculusM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftCariesM2'></semantic-form-select-input>

		</div>
		
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftAlveolarResorptionM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftAbscessM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftHypoplasiaM1'></semantic-form-select-input>
                  <semantic-form-select-input for='LeftPresenceCalculusM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftLocationOfCalculusM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftCariesM1'></semantic-form-select-input>

		</div>
	      </div> <br>
	     
	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                <semantic-form-select-input for='LeftAlveolarResorptionC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftAbscessC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftHypoplasiaC'></semantic-form-select-input>
                  <semantic-form-select-input for='LeftPresenceCalculusC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftLocationOfCalculusC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftCariesC'></semantic-form-select-input>

		</div>
		<div class="grid-demo">
                 <semantic-form-select-input for='LeftAlveolarResorptionI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftAbscessI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftHypoplasiaI2'></semantic-form-select-input>
                  <semantic-form-select-input for='LeftPresenceCalculusI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftLocationOfCalculusI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftCariesI2'></semantic-form-select-input>


		</div>
		
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftAlveolarResorptionI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftAbscessI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftHypoplasiaI1'></semantic-form-select-input>
                  <semantic-form-select-input for='LeftPresenceCalculusI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftLocationOfCalculusI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftCariesI1'></semantic-form-select-input>


		</div>
	      </div>
	      <br>
	
	     
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Left Maxillary Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-right-MaxillaryArcade-update" ufbTemplate="rightMax-Template" ufbname="Left Maxillary Arcade"]]
            </semantic-form>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftMaxillaryArcade" event-target="show-after-right-MaxillaryArcade-update"]]

