{{#> Help:StartFrameTocUi tocItemId="Patholist"}}

<div class="page" style="margin-left:30px; margin-right: 30px">

<h3>Create New PBP-Dental-Paleopathology Instance</h3>
<semantic-form
for-class="http://w3id.org/rdfbones/ext/phaleron-dpatho/DentalPaleopathologyInvestigation" 
new-subject-template="http://pbp-paleoppath.org/records/PhaleronDentalPaleopath-{{UUID}}"
post-action='redirect'
persistence='sparql'

fields='[{
    "id": "ofType",
    "label": "Dental Inventory",
    "description": "Select a Dental Inventory",
    "xsdDatatype": "xsd:anyURI",
    "maxOccurs": 1,
    "minOccurs": 1,
    "insertPattern": "
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX vivo: <http://vivoweb.org/ontology/core#>
PREFIX phaleron-patho:<http://w3id.org/rdfbones/ext/phaleron-patho/>
PREFIX cidoc:<http://www.cidoc-crm.org/cidoc-crm/>
PREFIX dc: <http://purl.org/dc#>
PREFIX fma: <http://purl.org/sig/ont/fma/>

INSERT {GRAPH ?mygraph {  
      
      $subject rdfs:label ?mylabel .
      $subject a <http://w3id.org/rdfbones/ext/phaleron-dpatho/PhaleronDentalPaleopathologyDataset> .
      ?myPPprocess obo:OBI_0000299 $subject .
      ?myPPprocess a <http://w3id.org/rdfbones/ext/phaleron-dpatho/DentalPaleopathologyInvestigation> .
      ?myPPprocess obo:OBI_0000293 $value .
      $subject dc:date \"[[currentDateTime format="yyyy-MM-dd"]]\"^^xsd:date .
      $subject <http://purl.obolibrary.org/obo/BFO_0000051> ?sectionuri.
      ?sectionuri a ?sectionclass .
      
       ?myinstance4s a ?rep4state . 
       ?myinstance4s <http://purl.obolibrary.org/obo/IAO_0000136> ?myROIInstance .
       ?sectionuri <http://purl.obolibrary.org/obo/BFO_0000051> ?myinstance4s . 
       ?myinstance4svaluespec a ?r4svs .
       ?myinstance4s <http://purl.obolibrary.org/obo/OBI_0001938> ?myinstance4svaluespec.

      
      
      }
} WHERE {
    
   

    ?mySI <http://semanticscience.org/resource/SIO_000563> $value  .
    ?mySI rdfs:label ?label .
    BIND(URI(CONCAT(STR(?subject),\"-graph\")) AS ?mygraph ) .
    BIND(URI(CONCAT(STR(?subject),\"_PBP_Patho_PaleopathDataset\")) AS ?myPPprocess) .
    BIND(CONCAT(STR(?label),\"_PBP_Patho_Paleopath\") AS ?mylabel) .

    <http://w3id.org/rdfbones/ext/phaleron-dpatho/PhaleronDentalPaleopathologyDataset> rdfs:subClassOf ?myRS0 .
    ?myRS0 a owl:Restriction ;
         owl:onProperty <http://purl.obolibrary.org/obo/BFO_0000051> ;
         <http://www.w3.org/2002/07/owl#someValuesFrom> ?sectionclass.
    BIND(URI(CONCAT(STR(?subject),\"-\",STR(?sectionclass))) AS ?sectionuri)
	   
   ?sectionclass rdfs:subClassOf ?myRS .
   ?myRS a owl:Restriction ;
         owl:onProperty <http://purl.obolibrary.org/obo/BFO_0000051> ;
         owl:someValuesFrom ?pp1 .
	            OPTIONAL {
                    ?pp1 owl:intersectionOf ?mi.
                    ?mi rdf:first ?rep4state ; 
                    rdf:rest ?myRS2list . 

                    ?rep4state rdfs:label ?rep4stateLabel.
   
   		    ?myRS2list rdf:first ?myRS2 .
   	            ?myRS2 a owl:Restriction ;
  	                   owl:onProperty <http://purl.obolibrary.org/obo/IAO_0000136> ;
     			   (owl:onClass|owl:someValuesFrom) ?myparts .
                  
                    ?rep4state rdfs:subClassOf ?myRS3. 
                    ?myRS3 a owl:Restriction ; 
                    owl:onProperty <http://purl.obolibrary.org/obo/OBI_0001938> ;
                    owl:allValuesFrom  ?r4svs. 
  
                    ?r4svs rdfs:subClassOf ?myRS4 .
                    

                        OPTIONAL {
                        ?myparts rdfs:subClassOf ?myRS5.
                        ?myRS5 a owl:Restriction ;
                        owl:onProperty fma:regional_part_of;
                        (owl:someValuesFrom|owl:allValuesFrom) ?pp2 .
                        }
                        OPTIONAL {
                        ?myparts rdfs:subClassOf ?myRS6.
                        ?myRS6 a owl:Restriction ;
                        owl:onProperty fma:regional_part;
                        (owl:someValuesFrom|owl:allValuesFrom) ?pp3 .
                        
                        ?pp3 rdfs:subClassOf ?myRS6a.
                        ?myRS6a a owl:Restriction ;
                        owl:onProperty fma:regional_part_of;
                        (owl:someValuesFrom|owl:allValuesFrom) ?pp4 .
                 }
		 }
		 BIND(URI(CONCAT(STR(?subject),\"-\",STR(?rep4state),\"-\",STR(?myparts))) AS ?myinstance4s) .
                 BIND(URI(CONCAT(STR(?subject),\"-\",STR(?rep4state),\"-\",STR(?myparts),\"-valuespec\")) AS ?myinstance4svaluespec) .
		 ?mySI <http://purl.obolibrary.org/obo/BFO_0000051>* ?myMD .
		 ?myMD <http://purl.obolibrary.org/obo/IAO_0000136> ?myROIInstance.
		 ?myROIInstance a ?myparts .
}"
,


"deletePattern": "
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX obo: <http://purl.obolibrary.org/obo/>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    DELETE {$subject obo:OBI_0000293 $value .} WHERE {$subject obo:OBI_0000293 $value .} ",


"autosuggestionPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX obo: <http://purl.obolibrary.org/obo/>
                SELECT $value $label WHERE {
                      ?si a <http://w3id.org/rdfbones/ext/phaleron-di/InventoryOfDentition>.
                      ?si rdfs:label $label .
                      ?si <http://semanticscience.org/resource/SIO_000563> $value
                  FILTER REGEX($label, $__token__, \"i\")
                }
              ",

"constraints": [{
                 "validatePattern":"
                         PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                         PREFIX obo: <http://purl.obolibrary.org/obo/>
                         PREFIX phaleron-patho:<http://w3id.org/rdfbones/ext/phaleron-patho/>
                         ASK WHERE { FILTER NOT EXISTS {
   						?value a <http://w3id.org/rdfbones/core#HumanSkeletonSpecimen> .
    						?paleopath obo:OBI_0000293 ?value.
  				                ?paleopath a <http://w3id.org/rdfbones/ext/phaleron-dpatho/DentalPaleopathologyInvestigation> .                              
  											    }}",
                  "message": "This Dental Inventory already is associated with a Phaleron Dental Paleopath Instance"
                  }]
    }]'>

<semantic-form-autocomplete-input for='ofType'></semantic-form-autocomplete-input>
    <button name="submit" class="btn btn-primary"><strong>Save</strong></button>
    <button name="reset" class="btn btn-secondary">Reset</button>
</semantic-form>

<br><br>
<h3>Show all available Paleopath Instances:</h3></hr>
<semantic-table 
  query="
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
      PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
      PREFIX obo: <http://purl.obolibrary.org/obo/>
      SELECT ?paleodataset ?value WHERE { 
             ?paleodataset a <http://w3id.org/rdfbones/ext/phaleron-dpatho/PhaleronDentalPaleopathologyDataset> .
             ?paleoprocess obo:OBI_0000299 ?paleodataset .
             ?paleoprocess a <http://w3id.org/rdfbones/ext/phaleron-dpatho/DentalPaleopathologyInvestigation> .
             ?paleoprocess obo:OBI_0000293 ?specimen  .
             ?value <http://semanticscience.org/resource/SIO_000563> ?specimen .
             
}  "
  column-configuration='[
    {"variableName": "paleodataset", "displayName": "Paleopath Investigation"},
    {"variableName": "value", "displayName": "Referenced Skeletal Inventory"}
  ]'
></semantic-table>
</div>
{{/Help:StartFrameTocUi}}
