<semantic-form
post-action='event'
persistence='sparql'
browser-persistence=true
form-id="labelupdate"
id="label"
subject=[[this]]
fields='[{ 
    "id": "label",
    "label": "Edit Label",
    "xsdDatatype": "xsd:string",
    "maxOccurs": 1,
    "minOccurs": 1,
    "selectPattern": "
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
               SELECT ?value WHERE {$subject rdfs:label ?value}"
    ,
    "insertPattern":"
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
               INSERT {GRAPH ?mygraph { $subject rdfs:label ?value }} WHERE {
                 GRAPH ?mygraph {$subject a ?o }}            
              ",
      "deletePattern": "
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
               DELETE {$subject rdfs:label ?value }  WHERE {
                 $subject rdfs:label ?value               
               }"
               ,
"constraints": [{
                 "validatePattern":"
                         PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                         PREFIX obo: <http://purl.obolibrary.org/obo/>
                         PREFIX phaleron-patho:<http://w3id.org/rdfbones/ext/phaleron-patho/>
                         ASK WHERE { FILTER NOT EXISTS {
                              ?? a ?paleopath_datasection_type .
                              ?s a ?paleopath_datasection_type .
                              ?paleopath obo:BFO_0000051 ?? .
   									         	?paleopath obo:BFO_0000051 ?s .
                              ?s rdfs:label $value.
                              
                              
  											    }}",
                  "message": "This Paleopath Instance already has an identically named item"
                  }]
    
               

}]'
>
 <semantic-form-recover-notification></semantic-form-recover-notification>
<semantic-form-text-input for="label"></semantic-form-text-input>
<button name="submit" class="btn btn-primary"><strong>Save</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button> [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-label-update" ufbTemplate="label-Template" ufbname="Label"]]
</semantic-form>
 [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="label" event-target="show-after-label-update"]]

