          "selectPattern":"
          PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
          PREFIX obo: <http://purl.obolibrary.org/obo/>
          SELECT $value WHERE {
          {
            $subject obo:BFO_0000051 ?MorphMD .
            ?MorphMD obo:OBI_0001938 ?ValSpec .
            ?MorphMD obo:IAO_0000136 ?ROIInstance .
            ?ROIInstance a [[ROI]] .
            ?MorphMD a [[MethodMorphMD]] .
            ?ValSpec obo:OBI_0000999 ?CatLabel .
          	$value obo:IAO_0000136 ?CatLabel .
          	$value a <http://w3id.org/rdfbones/ext/phaleron-se/SexEstimationScoreLabelSorting> .
          	FILTER NOT EXISTS { ?ValSpec obo:OBI_0000999 <http://w3id.org/rdfbones/ext/phaleron-si/9-Unobservable> }
              		   }
            UNION {
            $subject obo:BFO_0000051 ?MorphMD .
            ?MorphMD obo:OBI_0001938 ?ValSpec .
            ?MorphMD obo:IAO_0000136 ?ROIInstance .
            ?ROIInstance a [[ROI]] .
            ?MorphMD a [[MethodMorphMD]] .
            ?ValSpec obo:OBI_0000999 $value .
            FILTER EXISTS { ?ValSpec obo:OBI_0000999 <http://w3id.org/rdfbones/ext/phaleron-si/9-Unobservable> }
            }
          }",
                  "valueSetPattern": "
                    PREFIX obo: <http://purl.obolibrary.org/obo/>
                    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                    PREFIX standards-si: <http://w3id.org/rdfbones/ext/standards-si/>
                    PREFIX owl: <http://www.w3.org/2002/07/owl#>
                    SELECT DISTINCT $value WHERE {
                        $value a <http://w3id.org/rdfbones/ext/phaleron-se/SexEstimationScoreLabelSorting> .
						$value obo:IAO_0000136 ?CatLabel .
						?CatLabel a ?MethodLabel . 
						[[MethodMorphMD]] rdfs:subClassOf ?resMD .
 						?resMD owl:allValuesFrom ?MethodVS .
 						?MethodVS rdfs:subClassOf ?resVS .
 						?resVS owl:allValuesFrom ?MethodLabel . 
				} ORDER BY ($value)
				",

                      "insertPattern": "
                      PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                      PREFIX obo: <http://purl.obolibrary.org/obo/>
                      INSERT {GRAPH ?mygraph {
                      	  ?MorphVS obo:OBI_0000999 ?MorphVSValue .
                      	  $subject obo:BFO_0000051 ?NumMD .
                          ?NumMD obo:IAO_0000136 ?ROIInstance .
                          ?NumMD obo:IAO_0000136 ?ROIInstance2 .
                          ?NumMD obo:OBI_0001938 ?NumVS .
                          ?NumMD a ?NumMDType .
            		  	  ?NumVS a ?NumVSType .
            		  	  ?NumVS obo:OBI_0001937 ?NumVSValue . 
            		  	  
            		  	  }}
                      WHERE {
                      GRAPH ?mygraph { $subject a ?o } .
                      $subject obo:BFO_0000051 ?MorphMD .
                      ?MorphMD obo:IAO_0000136 ?ROIInstance .
            		  ?ROIInstance a [[ROI]] .
            		  ?MorphMD obo:OBI_0001938 ?MorphVS .
            		  ?MorphMD a [[MethodMorphMD]] .
            		  $value a <http://w3id.org/rdfbones/ext/phaleron-se/SexEstimationScoreLabelSorting> .
					  $value obo:IAO_0000136 ?MorphVSValue .
					  ?MorphVSValue a ?MethodLabel .
					  [[MethodMorphMD]] rdfs:subClassOf ?resMD .
 					  ?resMD owl:allValuesFrom ?MethodVS .
 					  ?MethodVS rdfs:subClassOf ?resVS .
 					  ?resVS owl:allValuesFrom ?MethodLabel .
					  OPTIONAL {
					  ?MorphMD obo:IAO_0000136 ?ROIInstance2 .
					  ?ROIInstance2 a ?ROI2 .
					  FILTER ( ?ROI2 != [[ROI]] )
					  }
						OPTIONAL {
              		  ?transformation rdfs:subClassOf ?t1 .
              		  ?t1 owl:intersectionOf ?t2 .
              		  ?t2 rdf:first ?t3 .
              		  ?t3 owl:allValuesFrom ?t4 .
              		  ?t4 owl:intersectionOf ?t5 .
              		  ?t5 rdf:first [[MethodMorphMD]] .
              		  ?t5 rdf:rest ?t6 .
              		  ?t6 rdf:first ?t7 .
              		  ?t7 owl:allValuesFrom ?t8 .
              		  ?t8 owl:intersectionOf ?t9 .
              		  ?t9 rdf:rest ?t10 .
              		  ?t10 rdf:first ?t11 .
              		  ?t11 a owl:Restriction .
              		  ?t11 owl:onProperty obo:OBI_0000999 .
              		  ?t11 owl:hasValue ?MorphVSValue .

              		  ?transformation rdfs:subClassOf ?b1 .
              		  ?b1 owl:intersectionOf ?b2 .
              		  ?b2 rdf:rest ?c3 .
              		  ?c3 rdf:first ?c4 .
              		  ?c4 owl:allValuesFrom ?c5 .
              		  ?c5 owl:intersectionOf ?c6 .
              		  ?c6 rdf:first ?NumMDType .
              		  ?c6 rdf:rest ?c7 .
              		  ?c7 rdf:first ?c8 .
              		  ?c8 owl:allValuesFrom ?c9 .
              		  ?c9 owl:intersectionOf ?c10 .
              		  ?c10 rdf:first ?NumVSType .
              		  ?c10 rdf:rest ?c11 .
              		  ?c11 rdf:first ?c12 .
              		  ?c12 a owl:Restriction .
              		  ?c12 owl:hasValue ?NumVSValue .
              		  ?c12 owl:onProperty obo:OBI_0001937 .
              		  }
              		    		                		                		                		                		                		  		              		  
            		   BIND(URI(CONCAT(STR($subject),\"-\",(STR([[MethodMorphMD]])),\"-\",(STR([[ROI]])),\"-NumValMD\",STR(?NumVSValue))) AS ?NumMD )
            		   BIND(URI(CONCAT(STR($subject),\"-\",(STR([[MethodMorphMD]])),\"-\",(STR([[ROI]])),\"-NumValVS\",STR(?NumVSValue))) AS ?NumVS )
                      }",
                      
                      "deletePattern": "
                      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                      PREFIX obo: <http://purl.obolibrary.org/obo/>
                        DELETE {
                          ?MorphVS obo:OBI_0000999 ?MorphVSValue .
                          $subject obo:BFO_0000051 ?NumMD .
                          ?NumMD obo:IAO_0000136 ?ROIInstance .
                          ?NumMD obo:IAO_0000136 ?ROIInstance2 .
                          ?NumMD obo:OBI_0001938 ?NumVS .
                          ?NumVS obo:OBI_0001937 ?NumVSValue .}
                        WHERE {
                      $subject obo:BFO_0000051 ?MorphMD .
                      ?MorphMD a [[MethodMorphMD]] .
                      ?MorphMD obo:IAO_0000136 ?ROIInstance .
                      ?MorphMD obo:OBI_0001938 ?MorphVS .
                      ?MorphVS obo:OBI_0000999 ?MorphVSValue .
            		  ?ROIInstance a [[ROI]] .
					  OPTIONAL {
					  ?MorphMD obo:IAO_0000136 ?ROIInstance2 .
					  ?ROIInstance2 a ?ROI2 .
					  FILTER ( ?ROI2 != [[ROI]] )
					  }
            		  OPTIONAL {
            		  $subject obo:BFO_0000051 ?NumMD .
            		  ?NumMD obo:IAO_0000136 ?ROIInstance .
                      ?NumMD obo:OBI_0001938 ?NumVS .
                      ?NumVS obo:OBI_0001937 ?NumVSValue . }
                          }"