<h2><strong>Deciduous Maxillary Dentition</strong></h2>
<hr>


<!-- Right Maxillary Arcade Form -->
<mp-event-target-refresh id="RightDecMaxillaryArcade">

            <semantic-form
              id = 'RightDecMaxillaryArcade'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightDecMaxillaryArcade'
              persistence='sparql'
              fields='[
        {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneM2" label="Presence Alveolar Bone M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317362>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneM1" label="Presence Alveolar Bone M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317360>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
        },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneC" label="Presence Alveolar Bone C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317354>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneI2" label="Presence Alveolar Bone I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317352>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneI1" label="Presence Alveolar Bone I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317350>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },

        {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothM2" label="Presence M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightSecondUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothM1" label="Presence M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightFirstUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothC" label="Presence C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightUpperCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothI2" label="Presence I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightUpperLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothI1" label="Presence I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightUpperCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

        {
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothM2" label="Development M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84240>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothM1" label="Development M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84238>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothC" label="Development C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84230>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothI2" label="Development I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84222>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothI1" label="Development I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84220>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	     {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothM2" label="Eruption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightSecondUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothM1" label="Eruption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightFirstUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothC" label="Eruption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightUpperCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothI2" label="Eruption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightUpperLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothI1" label="Eruption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryRightUpperCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothM2" label="Wear M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84240>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothM1" label="Wear M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84238>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothC" label="Wear C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84230>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothI2" label="Wear I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84222>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothI1" label="Wear I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84220>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
              }

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Right Maxillary Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightWearToothM2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightEruptionToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothM1'></semantic-form-select-input>
		</div>
	      </div><br>

	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothC'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothC'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothI2'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothI2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothI1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothI1'></semantic-form-select-input>
		</div>
	      </div>
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Right Maxillary Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-right-MaxillaryArcade-update" ufbTemplate="rightMax-Template" ufbname="Right Maxillary Arcade"]]
            </semantic-form>
	    
            </mp-event-target-refresh>
           <mp-event-proxy on-event-type="Form.ResourceUpdated" on-event-source="RightDecMaxillaryArcade" proxy-event-type="Component.Refresh" proxy-targets='["RightDecMaxillaryArcade"]'></mp-event-proxy>
	   <mp-event-proxy on-event-type="Form.ResourceCreated" on-event-source="RightDecMaxillaryArcade" proxy-event-type="Component.Refresh" proxy-targets='["RightDecMaxillaryArcade"]'></mp-event-proxy>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightDecMaxillaryArcade" event-target="show-after-right-MaxillaryArcade-update"]]

<hr>
<!-- Left Maxillary Arcade Form -->
<hr><mp-event-target-refresh id="LeftDecMaxillaryArcade">

            <semantic-form
              id = 'LeftDecMaxillaryArcade'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftDecMaxillaryArcade'
              persistence='sparql'
              fields='[
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneM2" label="Presence Alveolar Bone M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317410>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneM1" label="Presence Alveolar Bone M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317408>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
              },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneC" label="Presence Alveolar Bone C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317402>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneI2" label="Presence Alveolar Bone I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317400>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneI1" label="Presence Alveolar Bone I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317398>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothM2" label="Presence M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftSecondUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothM1" label="Presence M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftFirstUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothC" label="Presence C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftUpperCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothI2" label="Presence I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftUpperLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothI1" label="Presence I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftUpperCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothM2" label="Development M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84241>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothM1" label="Development M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84239>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothC" label="Development C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84231>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothI2" label="Development I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84223>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothI1" label="Development I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84221>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothM2" label="Eruption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftSecondUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothM1" label="Eruption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftFirstUpperMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothC" label="Eruption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftUpperCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothI2" label="Eruption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftUpperLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothI1" label="Eruption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#PrimaryLeftUpperCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothM2" label="Wear M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84241>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothM1" label="Wear M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84239>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothC" label="Wear C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84231>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothI2" label="Wear I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84223>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothI1" label="Wear I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma84221>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
              }

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Left Maxillary Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">

		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftWearToothM2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftEruptionToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothM1'></semantic-form-select-input>
		</div>
	      </div><br>


	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothC'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothC'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothI2'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothI2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothI1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothI1'></semantic-form-select-input>
		</div>
	      </div>
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Left Maxillary Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Left-MaxillaryArcade-update" ufbTemplate="LeftMax-Template" ufbname="Left Maxillary Arcade"]]
            </semantic-form>
	      </mp-event-target-refresh>
           <mp-event-proxy on-event-type="Form.ResourceUpdated" on-event-source="LeftDecMaxillaryArcade" proxy-event-type="Component.Refresh" proxy-targets='["LeftDecMaxillaryArcade"]'></mp-event-proxy>
	   <mp-event-proxy on-event-type="Form.ResourceCreated" on-event-source="LeftDecMaxillaryArcade" proxy-event-type="Component.Refresh" proxy-targets='["LeftDecMaxillaryArcade"]'></mp-event-proxy>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftDecMaxillaryArcade" event-target="show-after-Left-MaxillaryArcade-update"]]
            <hr>
