<!-- Phalanges of Hand, grouped Form --> 
            
            <semantic-form
              id='PhalangesHand'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='PhalangesHand'
              persistence='sparql'
              fields='[
                       
                  [[>:PSI_SI_MD_FormSnippet MyID="proximallefthandphalanges" MyLabel="Fragments of Left Proximal Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftProximalPhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="intermediatelefthandphalanges" MyLabel="Fragments of Left Intermediate Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftMiddlePhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="distallefthandphalanges" MyLabel="Fragments of Left Distal Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftDistalPhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="proximalrighthandphalanges" MyLabel="Fragments of Right Proximal Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightProximalPhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="intermediaterighthandphalanges" MyLabel="Fragments of Right Intermediate Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightMiddlePhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="distalrighthandphalanges" MyLabel="Fragments of Right Distal Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightDistalPhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="lefthandphalangesgrouped" MyLabel="Unclassified Left Fragments of Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireLeftPhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="righthandphalangesgrouped" MyLabel="Unclassified Right Fragments of Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireRightPhalanxOfFinger>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]      
                  , 
                  [[>:PSI_SI_MD_FormSnippet MyID="unsidedhandphalangesgrouped" MyLabel="Unsided and Unclassified Fragments of Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma23914>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]   
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="unsidedproximalhandphalanges" MyLabel="Unsided Fragments of Proximal Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma75816>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]      
                  , 
                  [[>:PSI_SI_MD_FormSnippet MyID="unsidedintermediatehandphalanges" MyLabel="Unsided Fragments of Intermediate Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma75817>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]   
                  ,
                  [[>:PSI_SI_MD_FormSnippet MyID="unsideddistalhandphalanges" MyLabel="Unsided Fragments of Distal Hand Phalanges" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma75818>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]           
              ]'
            >
            <h2><strong>Phalanges of Hand, grouped</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">             
                  <div class="grid-demo">
                    <h6>Unsided fragments</h6>
                      <semantic-form-text-input for='proximallefthandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='intermediatelefthandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='distallefthandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='proximalrighthandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='intermediaterighthandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='distalrighthandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='unsidedproximalhandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='unsidedintermediatehandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='unsideddistalhandphalanges'></semantic-form-text-input>
                      <semantic-form-text-input for='lefthandphalangesgrouped'></semantic-form-text-input>
                      <semantic-form-text-input for='righthandphalangesgrouped'></semantic-form-text-input>
                      <semantic-form-text-input for='unsidedhandphalangesgrouped'></semantic-form-text-input>
                      
                                                                                                              
                      <button name="submit" class="btn btn-primary"><strong>Save Phalanges of Hand, grouped</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-PhalangesHand-update" ufbTemplate="PhalangesHand-Template" ufbname="Ribs, grouped"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="PhalangesHand" event-target="show-after-PhalangesHand-update"]]  

            <hr>

                        <!-- Entire Hand grouped Form --> 

<semantic-form
  id='EntireHandGrouped'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='EntireHandGrouped'
  persistence='sparql'
  fields='[
    [[>:PSI_SI_MD_FormSnippet MyID="handgroupedleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfLeftHand>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
   [[>:PSI_SI_MD_FormSnippet MyID="handgroupedright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfRightHand>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfBoneFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
   [[>:PSI_SI_MD_FormSnippet MyID="handgroupedunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfHand>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
     ]' 
>
<h2><strong>Fragments of Hand, grouped</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 
                  <div class="grid-demo">
                      <semantic-form-text-input for='handgroupedleft'></semantic-form-text-input>
                      <semantic-form-text-input for='handgroupedright'></semantic-form-text-input>
                      <semantic-form-text-input for='handgroupedunsided'></semantic-form-text-input>
                      <button name="submit" class="btn btn-primary"><strong>Save Fragments of Hand, grouped</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-EntireHandGrouped-update" ufbTemplate="EntireHandGrouped-Template" ufbname="EntireHandGrouped"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="EntireHandGrouped" event-target="show-after-EntireHandGrouped-update"]]  

            <hr>

                        <!-- Left Hand Taphonomy Form --> 

<semantic-form
  id='LeftHandTaph'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftHandTaph'
  persistence='sparql'
  fields='[

[[>:PSI_SI_MD_FormTaphonomySnippet MyID_Taph="lefthandtaph" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfLeftHand>" ]]       
]' 
>
<h2><strong>Taphonomy of the entire left Hand</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTaphonomyGUISnippet MyID_Taph="lefthandtaph" WHERE=""]]    
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Taphonomy of the entire left Hand</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftHandTaph-update" ufbTemplate="LeftHandTaph-Template" ufbname="LeftHandTaph"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftHandTaph" event-target="show-after-LeftHandTaph-update"]] 

            <hr>

                        <!-- Right Hand Taphonomy Form --> 

<semantic-form
  id='RightHandTaph'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightHandTaph'
  persistence='sparql'
  fields='[

[[>:PSI_SI_MD_FormTaphonomySnippet MyID_Taph="righthandtaph" ROIVar="<http://w3id.org/rdfbones/core#EntireSkeletonOfRightHand>" ]]       
]' 
>
<h2><strong>Taphonomy of the entire right Hand</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 [[>:PSI_SI_MD_FormTaphonomyGUISnippet MyID_Taph="righthandtaph" WHERE=""]]    
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Taphonomy of the entire right Hand</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightHandTaph-update" ufbTemplate="RightHandTaph-Template" ufbname="RightHandTaph"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightHandTaph" event-target="show-after-RightHandTaph-update"]] 