
            <!-- Left Metatarsal 1 Form --> 
            
            <semantic-form
              id='LeftMetatarsal1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetatarsal1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal1leftcomp" MyID_Obs="metatarsal1leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24508>" ]]                                                     
              ]'
            >
            <h2><strong>Left Metatarsal 1</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal1leftcomp" MyID_Obs="metatarsal1leftobs" WHERE="Left"]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metatarsal 1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetatarsal1-update" ufbTemplate="LeftMetatarsal1-Template" ufbname="LeftMetatarsal1"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftMetatarsal1" event-target="show-after-LeftMetatarsal1-update"]]  

            <hr>

            <!-- Left Metatarsal 2 Form --> 
            
            <semantic-form
              id='LeftMetatarsal2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetatarsal2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal2leftcomp" MyID_Obs="metatarsal2leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24510>" ]]                                                    
              ]'
            >
            <h2><strong>Left Metatarsal 2</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal2leftcomp" MyID_Obs="metatarsal2leftobs" WHERE="Left"]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metatarsal 2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetatarsal2-update" ufbTemplate="LeftMetatarsal2-Template" ufbname="LeftMetatarsal2"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftMetatarsal2" event-target="show-after-LeftMetatarsal2-update"]]  

            <hr>

            <!-- Left Metatarsal 3 Form --> 
            
            <semantic-form
              id='LeftMetatarsal3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetatarsal3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal3leftcomp" MyID_Obs="metatarsal3leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24512>" ]]                                                     
              ]'
            >
            <h2><strong>Left Metatarsal 3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal3leftcomp" MyID_Obs="metatarsal3leftobs" WHERE="Left"]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metatarsal 3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetatarsal3-update" ufbTemplate="LeftMetatarsal3-Template" ufbname="LeftMetatarsal3"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftMetatarsal3" event-target="show-after-LeftMetatarsal3-update"]]  

            <hr>

            <!-- Left Metatarsal 4 Form --> 
            
            <semantic-form
              id='LeftMetatarsal4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetatarsal4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal4leftcomp" MyID_Obs="metatarsal4leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24514>" ]]                                             
              ]'
            >
            <h2><strong>Left Metatarsal 4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal4leftcomp" MyID_Obs="metatarsal4leftobs" WHERE="Left"]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metatarsal 4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetatarsal4-update" ufbTemplate="LeftMetatarsal4-Template" ufbname="LeftMetatarsal4"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftMetatarsal4" event-target="show-after-LeftMetatarsal4-update"]]  

            <hr>

            <!-- Left Metatarsal 5 Form --> 
            
            <semantic-form
              id='LeftMetatarsal5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMetatarsal5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal5leftcomp" MyID_Obs="metatarsal5leftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24516>" ]]                                        
              ]'
            >
            <h2><strong>Left Metatarsal 5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal5leftcomp" MyID_Obs="metatarsal5leftobs" WHERE="Left"]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save left Metatarsal 5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftMetatarsal5-update" ufbTemplate="LeftMetatarsal5-Template" ufbname="LeftMetatarsal5"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftMetatarsal5" event-target="show-after-LeftMetatarsal5-update"]]  
            
<hr>
            <!-- Right Metatarsal 1 Form --> 
            
            <semantic-form
              id='RightMetatarsal1'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetatarsal1'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal1rightcomp" MyID_Obs="metatarsal1rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24507>" ]]
                                  
              ]'
            >
            <h2><strong>Right Metatarsal 1</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">           
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal1rightcomp" MyID_Obs="metatarsal1rightobs" WHERE="Right"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metatarsal 1</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetatarsal1-update" ufbTemplate="RightMetatarsal1-Template" ufbname="RightMetatarsal1"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightMetatarsal1" event-target="show-after-RightMetatarsal1-update"]]  

            <hr>

            <!-- Right Metatarsal 2 Form --> 
            
            <semantic-form
              id='RightMetatarsal2'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetatarsal2'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal2rightcomp" MyID_Obs="metatarsal2rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24509>" ]]                                      
              ]'
            >
            <h2><strong>Right Metatarsal 2</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">        
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal2rightcomp" MyID_Obs="metatarsal2rightobs" WHERE="Right"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metatarsal 2</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetatarsal2-update" ufbTemplate="RightMetatarsal2-Template" ufbname="RightMetatarsal2"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightMetatarsal2" event-target="show-after-RightMetatarsal2-update"]]  

            <hr>

            <!-- Right Metatarsal 3 Form --> 
            
            <semantic-form
              id='RightMetatarsal3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetatarsal3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal3rightcomp" MyID_Obs="metatarsal3rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24511>" ]]                                     
              ]'
            >
            <h2><strong>Right Metatarsal 3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">         
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal3rightcomp" MyID_Obs="metatarsal3rightobs" WHERE="Right"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metatarsal 3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetatarsal3-update" ufbTemplate="RightMetatarsal3-Template" ufbname="RightMetatarsal3"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightMetatarsal3" event-target="show-after-RightMetatarsal3-update"]]  

            <hr>

            <!-- Right Metatarsal 4 Form --> 
            
            <semantic-form
              id='RightMetatarsal4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetatarsal4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal4rightcomp" MyID_Obs="metatarsal4rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24513>" ]]                                 
              ]'
            >
            <h2><strong>Right Metatarsal 4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal4rightcomp" MyID_Obs="metatarsal4rightobs" WHERE="Right"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metatarsal 4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetatarsal4-update" ufbTemplate="RightMetatarsal4-Template" ufbname="RightMetatarsal4"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightMetatarsal4" event-target="show-after-RightMetatarsal4-update"]]  

            <hr>

            <!-- Right Metatarsal 5 Form --> 
            
            <semantic-form
              id='RightMetatarsal5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMetatarsal5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="metatarsal5rightcomp" MyID_Obs="metatarsal5rightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24515>" ]]                               
              ]'
            >
            <h2><strong>Right Metatarsal 5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="metatarsal5rightcomp" MyID_Obs="metatarsal5rightobs" WHERE="Right"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save right Metatarsal 5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightMetatarsal5-update" ufbTemplate="RightMetatarsal5-Template" ufbname="RightMetatarsal5"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightMetatarsal5" event-target="show-after-RightMetatarsal5-update"]]  

            <hr>

            <!-- Metatarsals grouped Form --> 

<semantic-form
id='MetatarsalsGrouped'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='MetatarsalsGrouped'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormSnippet MyID="metatarsalsgroupedleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireLeftMetatarsalBone>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
[[>:PSI_SI_MD_FormSnippet MyID="metatarsalsgroupedright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireRightMetatarsalBone>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
[[>:PSI_SI_MD_FormSnippet MyID="metatarsalsgroupedunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24492>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
]' 
>
<h2><strong>Metatarsals, grouped</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">

<div class="grid-demo">
<semantic-form-text-input for='metatarsalsgroupedleft'></semantic-form-text-input>
<semantic-form-text-input for='metatarsalsgroupedright'></semantic-form-text-input>
<semantic-form-text-input for='metatarsalsgroupedunsided'></semantic-form-text-input>
<button name="submit" class="btn btn-primary"><strong>Save Metatarsals, grouped</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-MetatarsalsGrouped-update" ufbTemplate="MetatarsalsGrouped-Template" ufbname="MetatarsalsGrouped"]]
</div>
</div>

</semantic-form>
[[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="MetatarsalsGrouped" event-target="show-after-MetatarsalsGrouped-update"]]  

<hr>