{
              "id": "[[MyID_Comp]]",
              "label": "Completeness",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "maxOccurs": "1",
              [[>:PSI_MeasurementDatumSnippet ROIVar=[[ROIVar]] MDClass="<http://w3id.org/rdfbones/ext/standards-si/Representation4States>" ConnectValue="obo:OBI_0000999" ]]
              } ,

              {
              "id": "[[MyID_Obs]]",
              "label": "Observability",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "maxOccurs": "1",
              [[>:PSI_MeasurementDatumSnippet ROIVar=[[ROIVar]] MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/Observability>" ConnectValue="obo:OBI_0000999"]]
              }