<!-- Hyoid Form --> 
 
 <semantic-form
   id='Hyoid'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='Hyoid'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="hyoidleftcomp" MyID_Obs="hyoidleftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHornsOfHyoidBone>" ]]               
       ,
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="hyoidrightcomp" MyID_Obs="hyoidrightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHornsOfHyoidBone>" ]]
       ,
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="hyoidbodycomp" MyID_Obs="hyoidbodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfHyoidBone>" ]]
       ,
       [[>:PSI_SI_MD_FormSnippet MyID="hyoidfrag" MyLabel="Unsided Fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma52749>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                                         
   ]'
 >
 <h2><strong>Hyoid</strong></h2>
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="hyoidleftcomp" MyID_Obs="hyoidleftobs" WHERE="Left half of hyoid"]]   
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="hyoidbodycomp" MyID_Obs="hyoidbodyobs" WHERE="Body of hyoid"]]          
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="hyoidrightcomp" MyID_Obs="hyoidrightobs" WHERE="Right half of hyoid"]] 
      
       <div class="grid-demo">
         <h6>Unsided fragments</h6>
           <semantic-form-text-input for='hyoidfrag'></semantic-form-text-input>
           <button name="submit" class="btn btn-primary"><strong>Save Hyoid</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Hyoid-update" ufbTemplate="Hyoid-Template" ufbname="Hyoid"]]
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Hyoid" event-target="show-after-Hyoid-update"]]  

 <hr>

<h2><strong>Sternum</strong></h2> 

 <hr>

 <!-- Manubrium Form --> 
 
 <semantic-form
   id='Manubrium'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='Manubrium'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="manubriumcomp" MyID_Obs="manubriumobs" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/Manubrium>" ]]               
   ]'
 >
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">
       [[>:PSI_SI_MD_FormTupelGUISnippetVertebrae MyID_Comp="manubriumcomp" MyID_Obs="manubriumobs" WHERE="Manubrium"]]   
      
       <div class="grid-demo">
           <button name="submit" class="btn btn-primary"><strong>Save Manubrium</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Manubrium-update" ufbTemplate="Manubrium-Template" ufbname="Manubrium"]]
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Manubrium" event-target="show-after-Manubrium-update"]]  

 <hr>

 <!-- Gladius Form --> 

<semantic-form
id='Gladius'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='Gladius'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="gladiuscomp" MyID_Obs="gladiusobs" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/BodyOfSternum>" ]]               
]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippetVertebrae MyID_Comp="gladiuscomp" MyID_Obs="gladiusobs" WHERE="Gladius"]]   

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save Gladius</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Gladius-update" ufbTemplate="Gladius-Template" ufbname="Gladius"]]
</div>
</div>

</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="Gladius" event-target="show-after-Gladius-update"]]  

<hr>

<!-- XiphoidProcess Form --> 

<semantic-form
id='XiphoidProcess'
subject='[[this]]'
post-action='event'
browser-persistence=true
form-id='XiphoidProcess'
persistence='sparql'
fields='[
[[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="xiphoidcomp" MyID_Obs="xiphoidobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/XiphoidProcess>" ]]               
]'
>
<semantic-form-recover-notification></semantic-form-recover-notification>
<div data-flex-layout="row md-column top-spread">
[[>:PSI_SI_MD_FormTupelGUISnippetVertebrae MyID_Comp="xiphoidcomp" MyID_Obs="xiphoidobs" WHERE="Xiphoid Process"]]   

<div class="grid-demo">
<button name="submit" class="btn btn-primary"><strong>Save Xiphoid Process</strong></button>
<button name="reset" class="btn btn-secondary">Reset</button>
[[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-XiphoidProcess-update" ufbTemplate="XiphoidProcess-Template" ufbname="XiphoidProcess"]]
</div>
</div>

</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="XiphoidProcess" event-target="show-after-XiphoidProcess-update"]]  

<hr>

<!-- Sternum grouped Form --> 

   <semantic-form
   id='SternumGrouped'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='SternumGrouped'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormSnippet MyID="sternumfrag" MyLabel="Unclassified Fragments of Body" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma7485>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]                
            ]'
       >
       <div class="grid-demo">
         <h2>Fragments of Sternum, grouped</h2>
           <semantic-form-text-input for='sternumfrag'></semantic-form-text-input>
           <button name="submit" class="btn btn-primary"><strong>Save Sternum, grouped</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-SternumGrouped-update" ufbTemplate="SternumGrouped-Template" ufbname="Sternum, grouped"]]
       </div>
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="SternumGrouped" event-target="show-after-SternumGrouped-update"]]  

     <hr>