
            <!-- Left Navicular Form --> 
            
            <semantic-form
              id='LeftNavicularHand'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftNavicularHand'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="navicularleftcomp" MyID_Obs="navicularleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24436>" ]]                                         
              ]'
            >
            <h2><strong>Left Navicular Bone</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="navicularleftcomp" MyID_Obs="navicularleftobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Left Navicular Bone</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftNavicularHand-update" ufbTemplate="LeftNavicularHand-Template" ufbname="Left Navicular Bone"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftNavicularHand" event-target="show-after-LeftNavicularHand-update"]]  
            
            <hr>

            <!-- Left Lunate Form --> 
            
            <semantic-form
              id='LeftLunate'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftLunate'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="lunateleftcomp" MyID_Obs="lunateleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24438>" ]]                                                
              ]'
            >
            <h2><strong>Left Lunate Bone</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="lunateleftcomp" MyID_Obs="lunateleftobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Left Lunate Bone</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftLunate-update" ufbTemplate="Lunate-Template" ufbname="Left Lunate Bone"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftLunate" event-target="show-after-LeftLunate-update"]]  
            
            <hr>

            <!-- Left Triangular Form --> 
            
            <semantic-form
              id='LeftTriangular'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftTriangular'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="triangularleftcomp" MyID_Obs="triangularleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24440>" ]]                                                
              ]'
            >
            <h2><strong>Left Triangular Bone</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="triangularleftcomp" MyID_Obs="triangularleftobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Left Triangular Bone</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftTriangular-update" ufbTemplate="LeftTriangular-Template" ufbname="LeftTriangular Bone"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftTriangular" event-target="show-after-LeftTriangular-update"]]  
            
            <hr>

            <!-- Left Pisiform Form --> 
 
 <semantic-form
   id='LeftPisiform'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='LeftPisiform'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="pisiformleftcomp" MyID_Obs="pisiformleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24442>" ]]                                                     
   ]'
 >
 <h2><strong>Left Pisiform Bone</strong></h2>
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="pisiformleftcomp" MyID_Obs="pisiformleftobs" WHERE=""]]               
      
       <div class="grid-demo">
           <button name="submit" class="btn btn-primary"><strong>Save Left Pisiform Bone</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftPisiform-update" ufbTemplate="LeftPisiform-Template" ufbname="LeftPisiform Bone"]]                  
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftPisiform" event-target="show-after-LeftPisiform-update"]]  
 
 <hr>

 <!-- Left Trapezium Form --> 
 
 <semantic-form
   id='LeftTrapezium'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='LeftTrapezium'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="trapeziumleftcomp" MyID_Obs="trapeziumleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24444>" ]]                                                 
   ]'
 >
 <h2><strong>Left Trapezium/Left Greater Multangular</strong></h2>
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="trapeziumleftcomp" MyID_Obs="trapeziumleftobs" WHERE=""]]               
      
       <div class="grid-demo">
           <button name="submit" class="btn btn-primary"><strong>Save Left Trapezium Bone</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftTrapezium-update" ufbTemplate="LeftTrapezium-Template" ufbname="Left Trapezium Bone"]]                  
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftTrapezium" event-target="show-after-LeftTrapezium-update"]]  
 
 <hr>

 <!-- Left Trapezoid Form --> 

<semantic-form
  id='LeftTrapezoid'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftTrapezoid'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="trapezoidleftcomp" MyID_Obs="trapezoidleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24445>" ]]                                                     
  ]'
>
<h2><strong>Left Trapezoid/Left Lesser Multangular</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="trapezoidleftcomp" MyID_Obs="trapezoidleftobs" WHERE=""]]               
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save Left Trapezoid Bone</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftTrapezoid-update" ufbTemplate="LeftTrapezoid-Template" ufbname="Left Trapezoid Bone"]]                  
      </div>
    </div>
  
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftTrapezoid" event-target="show-after-LeftTrapezoid-update"]]  

<hr>

<!-- Left Capitate Form --> 
 
 <semantic-form
   id='LeftCapitate'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='LeftCapitate'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="capitateleftcomp" MyID_Obs="capitateleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24447>" ]]                                                   
   ]'
 >
 <h2><strong>Left Capitate Bone</strong></h2>
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="capitateleftcomp" MyID_Obs="capitateleftobs" WHERE=""]]               
      
       <div class="grid-demo">
           <button name="submit" class="btn btn-primary"><strong>Save Left Capitate Bone</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftCapitate-update" ufbTemplate="LeftCapitate-Template" ufbname="Left Capitate Bone"]]                  
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftCapitate" event-target="show-after-LeftCapitate-update"]]  
 
 <hr>

 <!-- Left Hamate Form --> 

<semantic-form
  id='LeftHamate'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='LeftHamate'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="hamateleftcomp" MyID_Obs="hamateleftobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24449>" ]]                                                     
  ]'
>
<h2><strong>Left Hamate Bone</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="hamateleftcomp" MyID_Obs="hamateleftobs" WHERE=""]]               
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save Left Hamate Bone</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-LeftHamate-update" ufbTemplate="LeftHamate-Template" ufbname="Left Hamate Bone"]]                  
      </div>
    </div>
  
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="LeftHamate" event-target="show-after-LeftHamate-update"]]  


<hr>
            <!-- Right Navicular Form --> 
            
            <semantic-form
              id='RightNavicularHand'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightNavicularHand'
              persistence='sparql'
              fields='[
              [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="navicularrightcomp" MyID_Obs="navicularrightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24435>"]]                                        
              ]'
            >
            <h2><strong>Right Navicular Bone</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="navicularrightcomp" MyID_Obs="navicularrightobs" WHERE=""]]               
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Navicular Bone</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightNavicularHand-update" ufbTemplate="RightNavicularHand-Template" ufbname="Right Navicular Bone"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightNavicularHand" event-target="show-after-RightNavicularHand-update"]]  
            
            <hr>

            <!-- Right Lunate Form --> 
            
            <semantic-form
              id='RightLunate'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightLunate'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="lunaterightcomp" MyID_Obs="lunaterightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24437>" ]]                                    
              ]'
            >
            <h2><strong>Right Lunate Bone</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">            
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="lunaterightcomp" MyID_Obs="lunaterightobs" WHERE=""]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Lunate Bone</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightLunate-update" ufbTemplate="RightLunate-Template" ufbname="Right Lunate Bone"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightLunate" event-target="show-after-RightLunate-update"]]  
            
            <hr>

            <!-- Right Triangular Form --> 
            
            <semantic-form
              id='RightTriangular'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightTriangular'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="triangularrightcomp" MyID_Obs="triangularrightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24439>" ]]                                       
              ]'
            >
            <h2><strong>Right Triangular Bone</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">          
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="triangularrightcomp" MyID_Obs="triangularrightobs" WHERE=""]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Right Triangular Bone</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightTriangular-update" ufbTemplate="RightTriangular-Template" ufbname="RightTriangular Bone"]]                  
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightTriangular" event-target="show-after-RightTriangular-update"]]  
            
            <hr>

            <!-- Right Pisiform Form --> 
 
 <semantic-form
   id='RightPisiform'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='RightPisiform'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="pisiformrightcomp" MyID_Obs="pisiformrightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24441>" ]]                           
   ]'
 >
 <h2><strong>Right Pisiform Bone</strong></h2>
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">           
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="pisiformrightcomp" MyID_Obs="pisiformrightobs" WHERE=""]] 
      
       <div class="grid-demo">
           <button name="submit" class="btn btn-primary"><strong>Save Right Pisiform Bone</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightPisiform-update" ufbTemplate="RightPisiform-Template" ufbname="RightPisiform Bone"]]                  
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightPisiform" event-target="show-after-RightPisiform-update"]]  
 
 <hr>

 <!-- Right Trapezium Form --> 
 
 <semantic-form
   id='RightTrapezium'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='RightTrapezium'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="trapeziumrightcomp" MyID_Obs="trapeziumrightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24443>" ]]                          
   ]'
 >
 <h2><strong>Right Trapezium/Right Greater Multangular</strong></h2>
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">            
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="trapeziumrightcomp" MyID_Obs="trapeziumrightobs" WHERE=""]] 
      
       <div class="grid-demo">
           <button name="submit" class="btn btn-primary"><strong>Save Right Trapezium Bone</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightTrapezium-update" ufbTemplate="RightTrapezium-Template" ufbname="RightTrapezium Bone"]]                  
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightTrapezium" event-target="show-after-RightTrapezium-update"]]  
 
 <hr>

 <!-- Right Trapezoid Form --> 

<semantic-form
  id='RightTrapezoid'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightTrapezoid'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="trapezoidrightcomp" MyID_Obs="trapezoidrightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma23725>" ]]                                     
  ]'
>
<h2><strong>Right Trapezoid/Right Lesser Multangular</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">       
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="trapezoidrightcomp" MyID_Obs="trapezoidrightobs" WHERE=""]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save Right Trapezoid Bone</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightTrapezoid-update" ufbTemplate="RightTrapezoid-Template" ufbname="Right Trapezoid Bone"]]                  
      </div>
    </div>
  
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightTrapezoid" event-target="show-after-RightTrapezoid-update"]]  

<hr>

<!-- Right Capitate Form --> 
 
 <semantic-form
   id='RightCapitate'
   subject='[[this]]'
   post-action='event'
   browser-persistence=true
   form-id='RightCapitate'
   persistence='sparql'
   fields='[
       [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="capitaterightcomp" MyID_Obs="capitaterightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24446>" ]]                                    
   ]'
 >
 <h2><strong>Right Capitate Bone</strong></h2>
 <semantic-form-recover-notification></semantic-form-recover-notification>
     <div data-flex-layout="row md-column top-spread">        
       [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="capitaterightcomp" MyID_Obs="capitaterightobs" WHERE=""]] 
      
       <div class="grid-demo">
           <button name="submit" class="btn btn-primary"><strong>Save Right Capitate Bone</strong></button>
         <button name="reset" class="btn btn-secondary">Reset</button>
         [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightCapitate-update" ufbTemplate="RightCapitate-Template" ufbname="RightCapitate Bone"]]                  
       </div>
     </div>
   
 </semantic-form>
 [[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightCapitate" event-target="show-after-RightCapitate-update"]]  
 
 <hr>

 <!-- Right Hamate Form --> 

<semantic-form
  id='RightHamate'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='RightHamate'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="hamaterightcomp" MyID_Obs="hamaterightobs" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma24448>" ]]                                     
  ]'
>
<h2><strong>Right Hamate Bone</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">           
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="hamaterightcomp" MyID_Obs="hamaterightobs" WHERE=""]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save Right Hamate Bone</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-RightHamate-update" ufbTemplate="RightHamate-Template" ufbname="Right Hamate Bone"]]                  
      </div>
    </div>
  
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="RightHamate" event-target="show-after-RightHamate-update"]]  

<hr>

            <!-- Carpals grouped Form --> 

<semantic-form
 id='CarpalsGrouped'
 subject='[[this]]'
 post-action='event'
 browser-persistence=true
 form-id='CarpalsGrouped'
 persistence='sparql'
 fields='[
   [[>:PSI_SI_MD_FormSnippet MyID="carpalsgroupedleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireLeftCarpalBone>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
  [[>:PSI_SI_MD_FormSnippet MyID="carpalsgroupedright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/EntireRightCarpalBone>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
  [[>:PSI_SI_MD_FormSnippet MyID="carpalsgroupedunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma23889>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
    ]' 
>
<h2><strong>Carpals, grouped</strong></h2>
           <semantic-form-recover-notification></semantic-form-recover-notification>
               <div data-flex-layout="row md-column top-spread">
                
                 <div class="grid-demo">
                     <semantic-form-text-input for='carpalsgroupedleft'></semantic-form-text-input>
                     <semantic-form-text-input for='carpalsgroupedright'></semantic-form-text-input>
                     <semantic-form-text-input for='carpalsgroupedunsided'></semantic-form-text-input>
                     <button name="submit" class="btn btn-primary"><strong>Save Carpals, grouped</strong></button>
                   <button name="reset" class="btn btn-secondary">Reset</button>
                   [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-CarpalsGrouped-update" ufbTemplate="CarpalsGrouped-Template" ufbname="CarpalsGrouped"]]
                 </div>
               </div>
             
           </semantic-form>
           [[>:PSI_FormSuccessFeedbackEventSnippet event-source="CarpalsGrouped" event-target="show-after-CarpalsGrouped-update"]]  

<hr>