<h2><strong>Cervical Vertebrae</strong></h2> 

<hr>

           <!-- Atlas Form --> 
            
            <semantic-form
              id='Atlas'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='Atlas'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="leftc1comp" MyID_Obs="leftc1obs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfPosteriorArchOfC1>" ]]                                               
              ]'
            >
            <h2><strong>Atlas</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="leftc1comp" MyID_Obs="leftc1obs" WHERE="Left half of posterior arch"]]        
                     <div class="grid-demo">
                    <button name="submit" class="btn btn-primary"><strong>Save Atlas</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Atlas-update" ufbTemplate="Atlas-Template" ufbname="Atlas"]] 
                   </div>
                </div>
                </semantic-form>
               [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Atlas" event-target="show-after-Atlas-update"]]  
            
            <hr>

            <!-- Axis Form --> 
            
            <semantic-form
              id='Axis'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='Axis'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="axisleftcomp" MyID_Obs="axisleftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC2>" ]]                                            
              ]'
            >
            <h2><strong>Axis</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="axisleftcomp" MyID_Obs="axisleftobs" WHERE="Left half of neural arch"]]   
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Axis</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Axis-update" ufbTemplate="Axis-Template" ufbname="Axis"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Axis" event-target="show-after-Axis-update"]]  

            <hr>

            <!-- C3 Form --> 
            
            <semantic-form
              id='C3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c3leftcomp" MyID_Obs="c3leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC3>" ]]                                             
              ]'
            >
            <h2><strong>C3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c3leftcomp" MyID_Obs="c3leftobs" WHERE="Left half of neural arch"]]   
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C3-update" ufbTemplate="C3-Template" ufbname="C3"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C3" event-target="show-after-C3-update"]]  

            <hr>

            <!-- C4 Form --> 
            
            <semantic-form
              id='C4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c4leftcomp" MyID_Obs="c4leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC4>" ]]                                                   
              ]'
            >
            <h2><strong>C4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c4leftcomp" MyID_Obs="c4leftobs" WHERE="Left half of neural arch"]]   
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C4-update" ufbTemplate="C4-Template" ufbname="C4"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C4" event-target="show-after-C4-update"]]  

            <hr>

            <!-- C5 Form --> 
            
            <semantic-form
              id='C5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c5leftcomp" MyID_Obs="c5leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC5>" ]]                                                  
              ]'
            >
            <h2><strong>C5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c5leftcomp" MyID_Obs="c5leftobs" WHERE="Left half of neural arch"]]   
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C5-update" ufbTemplate="C5-Template" ufbname="C5"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C5" event-target="show-after-C5-update"]]  

            <hr>

            <!-- C6 Form --> 
            
            <semantic-form
              id='C6'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C6'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c6leftcomp" MyID_Obs="c6leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC6>" ]]                                                
              ]'
            >
            <h2><strong>C6</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c6leftcomp" MyID_Obs="c6leftobs" WHERE="Left half of neural arch"]]   
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C6</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C6-update" ufbTemplate="C6-Template" ufbname="C6"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C6" event-target="show-after-C6-update"]]  

            <hr>

            <!-- C7 Form --> 

<semantic-form
  id='C7'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='C7'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c7leftcomp" MyID_Obs="c7leftobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/LeftHalfOfNeuralArchOfC7>" ]]                                             
  ]'
>
<h2><strong>C7</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c7leftcomp" MyID_Obs="c7leftobs" WHERE="Left half of neural arch"]]   
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save C7</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C7-update" ufbTemplate="C7-Template" ufbname="C7"]]
      </div>
    </div>
  
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="C7" event-target="show-after-C7-update"]]  

<hr>

<h2><strong>Cervical Vertebrae</strong></h2> 

<hr>

           <!-- Atlas Form --> 
            
            <semantic-form
              id='Atlas'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='Atlas'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="rightc1comp" MyID_Obs="rightc1obs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfPosteriorArchOfC1>" ]]                              
              ]'
            >
            <h2><strong>Atlas</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="rightc1comp" MyID_Obs="rightc1obs" WHERE="Right half of posterior arch"]] 
                     <div class="grid-demo">
                    <button name="submit" class="btn btn-primary"><strong>Save Atlas</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Atlas-update" ufbTemplate="Atlas-Template" ufbname="Atlas"]] 
                   </div>
                </div>
                </semantic-form>
               [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Atlas" event-target="show-after-Atlas-update"]]  
            
            <hr>

            <!-- Axis Form --> 
            
            <semantic-form
              id='Axis'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='Axis'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="axisrightcomp" MyID_Obs="axisrightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC2>" ]]                               
              ]'
            >
            <h2><strong>Axis</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="axisrightcomp" MyID_Obs="axisrightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Axis</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Axis-update" ufbTemplate="Axis-Template" ufbname="Axis"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Axis" event-target="show-after-Axis-update"]]  

            <hr>

            <!-- C3 Form --> 
            
            <semantic-form
              id='C3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c3rightcomp" MyID_Obs="c3rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC3>" ]]                               
              ]'
            >
            <h2><strong>C3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c3rightcomp" MyID_Obs="c3rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C3-update" ufbTemplate="C3-Template" ufbname="C3"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C3" event-target="show-after-C3-update"]]  

            <hr>

            <!-- C4 Form --> 
            
            <semantic-form
              id='C4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c4rightcomp" MyID_Obs="c4rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC4>" ]]                                  
              ]'
            >
            <h2><strong>C4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c4rightcomp" MyID_Obs="c4rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C4-update" ufbTemplate="C4-Template" ufbname="C4"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C4" event-target="show-after-C4-update"]]  

            <hr>

            <!-- C5 Form --> 
            
            <semantic-form
              id='C5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c5rightcomp" MyID_Obs="c5rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC5>" ]]                              
              ]'
            >
            <h2><strong>C5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c5rightcomp" MyID_Obs="c5rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C5-update" ufbTemplate="C5-Template" ufbname="C5"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C5" event-target="show-after-C5-update"]]  

            <hr>

            <!-- C6 Form --> 
            
            <semantic-form
              id='C6'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C6'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c6rightcomp" MyID_Obs="c6rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC6>" ]]                                  
              ]'
            >
            <h2><strong>C6</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c6rightcomp" MyID_Obs="c6rightobs" WHERE="Right half of neural arch"]] 
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C6</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C6-update" ufbTemplate="C6-Template" ufbname="C6"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C6" event-target="show-after-C6-update"]]  

            <hr>

            <!-- C7 Form --> 

<semantic-form
  id='C7'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='C7'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c7rightcomp" MyID_Obs="c7rightobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/RightHalfOfNeuralArchOfC7>" ]]                            
  ]'
>
<h2><strong>C7</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread">
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c7rightcomp" MyID_Obs="c7rightobs" WHERE="Right half of neural arch"]] 
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save C7</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C7-update" ufbTemplate="C7-Template" ufbname="C7"]]
      </div>
    </div>
  
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="C7" event-target="show-after-C7-update"]]  

<hr>


<hr>

           <!-- Atlas Form --> 
            
            <semantic-form
              id='Atlas'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='Atlas'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="archc1comp" MyID_Obs="archc1obs" ROIVar="<http://w3id.org/rdfbones/ext/standards-si/AnteriorArchOfC1>" ]]                                   
              ]'
            >
            <h2><strong>Atlas</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">    
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="archc1comp" MyID_Obs="archc1obs" WHERE="Anterior arch of Atlas"]]        
                     <div class="grid-demo">
                    <button name="submit" class="btn btn-primary"><strong>Save Atlas</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Atlas-update" ufbTemplate="Atlas-Template" ufbname="Atlas"]] 
                   </div>
                </div>
                </semantic-form>
               [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Atlas" event-target="show-after-Atlas-update"]]  
            
            <hr>

            <!-- Axis Form --> 
            
            <semantic-form
              id='Axis'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='Axis'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="axisbodycomp" MyID_Obs="axisbodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC2>" ]]                                 
              ]'
            >
            <h2><strong>Axis</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="axisbodycomp" MyID_Obs="axisbodyobs" WHERE="Body"]]          
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save Axis</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Axis-update" ufbTemplate="Axis-Template" ufbname="Axis"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="Axis" event-target="show-after-Axis-update"]]  

            <hr>

            <!-- C3 Form --> 
            
            <semantic-form
              id='C3'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C3'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c3bodycomp" MyID_Obs="c3bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC3>" ]]                                     
              ]'
            >
            <h2><strong>C3</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c3bodycomp" MyID_Obs="c3bodyobs" WHERE="Body"]]          
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C3</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C3-update" ufbTemplate="C3-Template" ufbname="C3"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C3" event-target="show-after-C3-update"]]  

            <hr>

            <!-- C4 Form --> 
            
            <semantic-form
              id='C4'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C4'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c4bodycomp" MyID_Obs="c4bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC4>" ]]                                       
              ]'
            >
            <h2><strong>C4</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread"> 
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c4bodycomp" MyID_Obs="c4bodyobs" WHERE="Body"]]          
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C4</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C4-update" ufbTemplate="C4-Template" ufbname="C4"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C4" event-target="show-after-C4-update"]]  

            <hr>

            <!-- C5 Form --> 
            
            <semantic-form
              id='C5'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C5'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c5bodycomp" MyID_Obs="c5bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC5>" ]]                                     
              ]'
            >
            <h2><strong>C5</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c5bodycomp" MyID_Obs="c5bodyobs" WHERE="Body"]]          
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C5</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C5-update" ufbTemplate="C5-Template" ufbname="C5"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C5" event-target="show-after-C5-update"]]  

            <hr>

            <!-- C6 Form --> 
            
            <semantic-form
              id='C6'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='C6'
              persistence='sparql'
              fields='[
                  [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c6bodycomp" MyID_Obs="c6bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC6>" ]]                                      
              ]'
            >
            <h2><strong>C6</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                  [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c6bodycomp" MyID_Obs="c6bodyobs" WHERE="Body"]]          
                 
                  <div class="grid-demo">
                      <button name="submit" class="btn btn-primary"><strong>Save C6</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C6-update" ufbTemplate="C6-Template" ufbname="C6"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="C6" event-target="show-after-C6-update"]]  

            <hr>

            <!-- C7 Form --> 

<semantic-form
  id='C7'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='C7'
  persistence='sparql'
  fields='[
      [[>:PSI_SI_MD_FormTupelSnippet MyID_Comp="c7bodycomp" MyID_Obs="c7bodyobs" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/BodyOfC7>" ]]                                  
  ]'
>
<h2><strong>C7</strong></h2>
<semantic-form-recover-notification></semantic-form-recover-notification>
    <div data-flex-layout="row md-column top-spread"> 
      [[>:PSI_SI_MD_FormTupelGUISnippet MyID_Comp="c7bodycomp" MyID_Obs="c7bodyobs" WHERE="Body"]]          
     
      <div class="grid-demo">
          <button name="submit" class="btn btn-primary"><strong>Save C7</strong></button>
        <button name="reset" class="btn btn-secondary">Reset</button>
        [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-C7-update" ufbTemplate="C7-Template" ufbname="C7"]]
      </div>
    </div>
  
</semantic-form>
[[>:PSI_FormSuccessFeedbackEventSnippet event-source="C7" event-target="show-after-C7-update"]]  

<hr>

 <!-- Cervical grouped Form --> 

<semantic-form
  id='CG'
  subject='[[this]]'
  post-action='event'
  browser-persistence=true
  form-id='CG'
  persistence='sparql'
  fields='[
    [[>:PSI_SI_MD_FormSnippet MyID="cgleft" MyLabel="Number of left fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireLeftPartOfCervicalVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]    
,
    [[>:PSI_SI_MD_FormSnippet MyID="cgbody" MyLabel="Number of body fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireBodyOfCervicalVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]]  
,
   [[>:PSI_SI_MD_FormSnippet MyID="cgright" MyLabel="Number of right fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/ext/phaleron-si/EntireRightPartOfCervicalVertebra>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
,
   [[>:PSI_SI_MD_FormSnippet MyID="cgunsided" MyLabel="Unsided fragments" MinOccurs="1" MaxOccurs="1" ROIVar="<http://w3id.org/rdfbones/core#EntireBoneOrgan_fma9915>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-si/NumberOfUnclassifiedFragments>" ConnectValue="obo:OBI_0001937" xsdDatatype="xsd:integer"]] 
     ]' 
>
<h2><strong>Cervical Vertebrae, grouped</strong></h2>
            <semantic-form-recover-notification></semantic-form-recover-notification>
                <div data-flex-layout="row md-column top-spread">
                 
                  <div class="grid-demo">
                      <semantic-form-text-input for='cgleft'></semantic-form-text-input>
                      <semantic-form-text-input for='cgbody'></semantic-form-text-input>
                      <semantic-form-text-input for='cgright'></semantic-form-text-input>
                      <semantic-form-text-input for='cgunsided'></semantic-form-text-input>
                      <button name="submit" class="btn btn-primary"><strong>Save Cervical Vertebrae, grouped</strong></button>
                    <button name="reset" class="btn btn-secondary">Reset</button>
                    [[>:PSI_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-CG-update" ufbTemplate="CG-Template" ufbname="CG"]]
                  </div>
                </div>
              
            </semantic-form>
            [[>:PSI_FormSuccessFeedbackEventSnippet event-source="CG" event-target="show-after-CG-update"]]  

            <hr>