<h2><strong>Permanent Mandibular Dentition</strong></h2>
<hr>
           <!-- Right Mandibular Arcade Form -->
            <semantic-form
              id = 'RightMandibularArcade'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='RightMandibularArcade'
              persistence='sparql'
              fields='[
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneM3" label="Presence Alveolar Bone M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317396>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneM2" label="Presence Alveolar Bone M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317394>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneM1" label="Presence Alveolar Bone M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317392>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
              },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneP2" label="Presence Alveolar Bone P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317390>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneP1" label="Presence Alveolar Bone P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317388>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneC" label="Presence Alveolar Bone C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317386>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneI2" label="Presence Alveolar Bone I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317384>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceAlveolarBoneI1" label="Presence Alveolar Bone I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317382>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothM3" label="Presence M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightThirdLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothM2" label="Presence M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothM1" label="Presence M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothP2" label="Presence P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightSecondLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothP1" label="Presence P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightFirstLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothC" label="Presence C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothI2" label="Presence I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightPresenceToothI1" label="Presence I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothM3" label="Development M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55707>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothM2" label="Development M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55706>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothM1" label="Development M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55705>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothP2" label="Development P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55695>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothP1" label="Development P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55694>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothC" label="Development C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55686>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothI2" label="Development I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57140>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightDevelopmentToothI1" label="Development I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57142>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothM3" label="Eruption M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightThirdLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothM2" label="Eruption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothM1" label="Eruption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothP2" label="Eruption P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightSecondLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothP1" label="Eruption P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightFirstLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothC" label="Eruption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothI2" label="Eruption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="RightEruptionToothI1" label="Eruption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryRightLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	       [[>:PSI_SI_FormHeaderSnippet id="RightWearToothM3" label="Wear M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55707>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothM2" label="Wear M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55706>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothM1" label="Wear M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55705>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothP2" label="Wear P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55695>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfPremolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothP1" label="Wear P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55694>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfPremolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothC" label="Wear C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55686>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothI2" label="Wear I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57140>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="RightWearToothI1" label="Wear I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57142>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
              }

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Right Mandibular Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneM3'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothM3'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothM3'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothM3'></semantic-form-select-input>
		  <semantic-form-select-input for='RightWearToothM3'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightWearToothM2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothM1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightEruptionToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothM1'></semantic-form-select-input>
		</div>
	      </div><br>
	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneP2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothP2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothP2'></semantic-form-select-input>
		   <semantic-form-select-input for='RightEruptionToothP2'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothP2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneP1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothP1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothP1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothP1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothP1'></semantic-form-select-input>

		</div>
	      </div><br>


	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothC'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothC'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothI2'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothI2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='RightPresenceAlveolarBoneI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightPresenceToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightDevelopmentToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='RightEruptionToothI1'></semantic-form-select-input>
		   <semantic-form-select-input for='RightWearToothI1'></semantic-form-select-input>
		</div>
	      </div>
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Right Mandibular Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-right-MandibularArcade-update" ufbTemplate="rightMax-Template" ufbname="Right Mandibular Arcade"]]
            </semantic-form>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="RightMandibularArcade" event-target="show-after-right-MandibularArcade-update"]]

<hr>
           <!-- Left Mandibular Arcade Form -->
            <semantic-form
              id = 'LeftMandibularArcade'
              subject='[[this]]'
              post-action='event'
              browser-persistence=true
              form-id='LeftMandibularArcade'
              persistence='sparql'
              fields='[
	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneM3" label="Presence Alveolar Bone M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317412>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneM2" label="Presence Alveolar Bone M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317410>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneM1" label="Presence Alveolar Bone M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317408>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
              },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneP2" label="Presence Alveolar Bone P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317406>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneP1" label="Presence Alveolar Bone P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317404>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneC" label="Presence Alveolar Bone C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317402>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneI2" label="Presence Alveolar Bone I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317400>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceAlveolarBoneI1" label="Presence Alveolar Bone I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireToothSocket_fma317398>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfAlveolarBone>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothM3" label="Presence M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftThirdLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothM2" label="Presence M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothM1" label="Presence M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothP2" label="Presence P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftSecondLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothP1" label="Presence P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftFirstLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothC" label="Presence C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothI2" label="Presence I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftPresenceToothI1" label="Presence I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/PresenceOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothM3" label="Development M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55702>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothM2" label="Development M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55703>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothM1" label="Development M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55704>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothP2" label="Development P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55692>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothP1" label="Development P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55693>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothC" label="Development C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55687>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothI2" label="Development I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57141>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftDevelopmentToothI1" label="Development I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57143>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/DevelopmentOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothM3" label="Eruption M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftThirdLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothM2" label="Eruption M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftSecondLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothM1" label="Eruption M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftFirstLowerMolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothP2" label="Eruption P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftSecondLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothP1" label="Eruption P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftFirstLowerPremolarToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothC" label="Eruption C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftLowerCanineToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothI2" label="Eruption I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftLowerLateralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      }, {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftEruptionToothI1" label="Eruption I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#SecondaryLeftLowerCentralIncisorToothPosition>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/EruptionOfTooth>" ConnectValue="obo:OBI_0000999" ]]
	      },

	      {
	       [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothM3" label="Wear M3" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55702>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      } , {
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothM2" label="Wear M2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55703>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothM1" label="Wear M1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55704>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfMolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothP2" label="Wear P2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55692>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfPremolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothP1" label="Wear P1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55693>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfPremolar>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothC" label="Wear C" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma55687>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothI2" label="Wear I2" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57141>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
	      },{
	      [[>:PSI_SI_FormHeaderSnippet id="LeftWearToothI1" label="Wear I1" xsdDatatype="xsd:anyURI" minOccurs="1" maxOccurs="1"]]
              [[>:PSI_MeasurementDatumSnippet ROIVar="<http://w3id.org/rdfbones/core#EntireTooth_fma57143>" MDClass="<http://w3id.org/rdfbones/ext/phaleron-di/WearOfIncisorAndCanine>" ConnectValue="obo:OBI_0000999" ]]
              }

              ]'
            >
              <semantic-form-recover-notification></semantic-form-recover-notification>
              <h3><strong>Left Mandibular Arcade</strong></h3>

              <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneM3'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothM3'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothM3'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothM3'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftWearToothM3'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothM2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftWearToothM2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothM1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftEruptionToothM1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothM1'></semantic-form-select-input>
		</div>
	      </div><br>
	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneP2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothP2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothP2'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftEruptionToothP2'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothP2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneP1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothP1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothP1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothP1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothP1'></semantic-form-select-input>

		</div>
	      </div><br>


	      <div data-flex-layout="row md-column top-spread">
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothC'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothC'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothC'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothI2'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothI2'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothI2'></semantic-form-select-input>
		</div>
		<div class="grid-demo">
                  <semantic-form-select-input for='LeftPresenceAlveolarBoneI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftPresenceToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftDevelopmentToothI1'></semantic-form-select-input>
		  <semantic-form-select-input for='LeftEruptionToothI1'></semantic-form-select-input>
		   <semantic-form-select-input for='LeftWearToothI1'></semantic-form-select-input>
		</div>
	      </div>
	      <br>
	      <button name="submit" class="btn btn-primary"><strong>Save Left Mandibular Arcade</strong></button>
                  [[>:RDFBONES_FormSuccessFeedbackTemplateSnippet ufb-id="show-after-Left-MandibularArcade-update" ufbTemplate="LeftMax-Template" ufbname="Left Mandibular Arcade"]]
            </semantic-form>
            <!-- user feedback on form update -->
            [[>:RDFBONES_FormSuccessFeedbackEventSnippet event-source="LeftMandibularArcade" event-target="show-after-Left-MandibularArcade-update"]]
            <hr>
