<!-- This is a dummy page that was created in preparation for a meeting with the Phaleron Bioarchaeological Project on 28 May 2021.
It demonstrates layout options but the fields do not take data, nor are they bound to existing classes. -->
[[>:RDFBONES_SkeletalInventoryRelabelSnippet]]

<hr>
[[#if (ask 'PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> ASK {SELECT  ?mySI  WHERE {        ?? a ?mySI . }}') ]]
    <bs-tabs class="page__body-navtabs--borderless-no-image" unmount-on-exit=true>
      <bs-tab event-key="1" title="General Info">
	[[>:PBP_DentalInventoryGeneralInfo]]
      </bs-tab>
      <bs-tab event-key="2" title="Dentition">
	[[>:PSI_DI_Dentition]]
      </bs-tab>
      <bs-tab event-key="3" title="Perm. Maxilla">
	[[>:PSI_DI_Permanent_Maxilla]]
     </bs-tab>
      <bs-tab event-key="4" title="Perm. Mandibula">
	[[>:PSI_DI_Permanent_Mandibula]]
      </bs-tab>
      <bs-tab event-key="5" title="Decid. Maxilla">
	[[>:PSI_DI_Deciduous_Maxilla]]
      </bs-tab>
      <bs-tab event-key="6" title="Decid. Mandibula">
	[[>:PSI_DI_Deciduous_Mandibula]]
      </bs-tab>

       <bs-tab event-key="7" title="Decid. Dentition">
	[[>:PDI_ToothCrown_Template]]
      </bs-tab>
       
      </bs-tabs>
[[/if]]
