<!-- This is a dummy page that was created in preparation for a meeting with the Phaleron Bioarchaeological Project on 28 May 2021.
It demonstrates layout options but the fields do not take data, nor are they bound to existing classes. -->
[[>:RDFBONES_SkeletalInventoryRelabelSnippet]]

<hr>
[[#if (ask 'PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> ASK {SELECT  ?mySI  WHERE {        ?? a ?mySI . }}') ]]
    <bs-tabs class="page__body-navtabs--borderless-no-image" unmount-on-exit=true>
      <bs-tab event-key="1" title="General Info">
	<template-lazy>
	  {{>:PBP_DentalInventoryGeneralInfo}}
	</template-lazy>
      </bs-tab>
      <bs-tab event-key="2" title="Dentition">
	<template-lazy>
	  {{>:PSI_DI_Dentition}}
	</template-lazy>
      </bs-tab>
      <bs-tab event-key="3" title="Perm. Maxilla">
	<template-lazy>
	  {{>:PSI_DI_Permanent_Maxilla}}
	</template-lazy>
      </bs-tab>
      <bs-tab event-key="4" title="Perm. Mandibula">
	<template-lazy>
	  {{>:PSI_DI_Permanent_Mandibula}}
	</template-lazy>
      </bs-tab>
      <bs-tab event-key="5" title="Decid. Maxilla">
	<template-lazy>
	  {{>:PSI_DI_Deciduous_Maxilla}}
	</template-lazy>
      </bs-tab>
      <bs-tab event-key="6" title="Decid. Mandibula">
	<template-lazy>
	  {{>:PSI_DI_Deciduous_Mandibula}}
    </template-lazy>
      </bs-tab>
      
      <bs-tab event-key="7" title="Decid. Dentition">
	<template-lazy>
	  {{>:PDI_ToothCrown_Template}}
	</template-lazy>
      </bs-tab>
      
    </bs-tabs>
    [[/if]]
